@media (min-width: 360px) and (max-width: 374px) {

    .terms-conditions ul li {
        font-size: 12px;
    }

    .book-shopping {
        /*height: 480px !important;*/
    }

    .customer-info {
        height: 380px !important;
    }  

    .header-area {
        margin: 8px 0;
    }

    .logo img {
        width: 48px;
    }

    .content-area .container .row .col-md-12 {
        padding: 0;
    }

    .success-content{
        /*height: 560px !important;*/
    }

    .main {
        /* padding:0 5px; */
        /* margin: 0 5px; */
    }

        .main h4 {
            font-size: 15px !important;
            padding: 8px 0;
        }

    .steps {
        padding: 12px 0px;
        margin: 0 0px;
    }

    .number {
        margin-right: 5px;
    }

    .steps ul li:after {
        width: 0px;
    }

    .guest-form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-row {
        padding: 0px 0px;
    }

    .date li {
        width: 48px;
        padding: 5px 5px;
    }

    .date li p.day {
        color: rgba(5, 30, 52, 0.7);
        font-size: 13px;
    }

    .date li h5.dDate {
        font-size: 13px;
    }

    .date li p.year {
        font-size: 13px;
    }

    .time-slot li {
        /* width: 168px; */
        width: 170px; /*Change This Line*/
    }

    .fieldset-content {
        /*height: 640px;*/
    }

    .customer-info,
    .customer-login,
    .customer-registration,
    .otp-verification,
    .success-content {
        padding: 0px 16px;
    }

    .input-group-text {
        padding: 10px 5px;
    }

    .otp input {
        margin-right: 5px !important;
    }

    .verify-btn {
        margin-right: 36px;
    }

    .dashboard-content {
        height: 1450px !important;
    }

    .header-item .mr-5 {
        margin-right: 1rem !important;
    }

    .history-content {
        padding: 0px;
    }

    table {
        font-size: 12px;
    }

    .table td,
    .table th {
        padding: 2px;
    }
    .terms-conditions{
        padding: 0 15px !important;
    }
}

@media (min-width: 375px) and (max-width: 410px) {

    .terms-conditions ul li {
        font-size: 12px !important;
    }

    .terms-conditions{
        padding: 0 15px !important;
    }
    .header-area {
        margin: 8px 0;
    }

    .logo img {
        width: 48px;
    }

    .content-area .container .row .col-md-12 {
        padding: 0;
    }
    .success-content{
        /*height: 600px !important;*/
    }

    .main h4 {
        font-size: 15px !important;
        padding: 8px 0 !important;
    }

    .steps {
        padding: 12px 0px;
        margin: 0 0px;
    }

    .number {
        margin-right: 5px;
    }

    .steps ul li:after {
        width: 0px;
    }

    .guest-form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-row {
        padding: 0px 0px;
    }

    .date li {
        width: 50px; /*Change This Line*/
        /* width: 52px; */
        padding: 5px 5px;
    }

    .date li p.day {
        color: rgba(5, 30, 52, 0.7);
        font-size: 13px;
    }

    .date li h5.dDate {
        font-size: 13px;
    }

    .date li p.year {
        font-size: 13px;
    }

    .time-slot li {
        /* width: 168px; */
        width: 180px; /*Change This Line*/
    }

    .fieldset-content {
        /*height: 640px;*/
    }
    .error-time-slot{
        margin: 0px 5px;
    }
    .book-shopping {
        /*height: 480px !important;*/
    }

    .customer-info {
        height: 400px !important;
    }

    .customer-info,
    .customer-login,
    .customer-registration,
    .otp-verification,
    .success-content {
        padding: 0px 16px;
    }

    .input-group-text {
        padding: 10px 5px;
    }

    .otp input {
        margin-right: 8px !important;
    }

    .verify-btn {
        margin-right: 42px;
    }

    .dashboard-content {
        height: 1450px !important;
    }

    .header-item .mr-5 {
        margin-right: 1rem !important;
    }

    .history-content {
        padding: 0px;
    }

    table {
        font-size: 12px;
    }

    .table td,
    .table th {
        padding: 2px;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    .success-content{
        /*height: 580px !important;*/
    }
    .terms-conditions{
        padding: 0 15px !important;
    }
    .header-area {
        margin: 8px 0;
    }

    .logo img {
        width: 48px;
    }

    .content-area .container .row .col-md-12 {
        padding: 0;
    }

    .main h4 {
        font-size: 15px !important;
        padding: 8px 0 !important;
    }

    .steps {
        padding: 12px 0px;
        margin: 0 0px;
    }

    .number {
        margin-right: 5px;
    }

    .steps ul li:after {
        width: 0px;
    }

    .guest-form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-row {
        padding: 0px 0px;
    }

    .date li {
        width: 56px;
        padding: 5px 5px;
    }

    .date li p.day {
        color: rgba(5, 30, 52, 0.7);
        font-size: 13px;
    }

    .date li h5.dDate {
        font-size: 13px;
    }

    .date li p.year {
        font-size: 13px;
    }

    .time-slot li {
        /* width: 168px; */
        width: 192px; /*Change This Line*/
    }

    .fieldset-content {
        /*height: 640px;*/
    }

    .customer-info{
        height:380px !important;
    }

    .book-shopping {
        /*height: 450px !important;*/
    }

    .terms-conditions ul li {
        font-size: 12px !important;
    }

    .customer-info, .customer-login, .customer-registration, .otp-verification, .success-content {
        padding: 0px 16px;
    }

    .input-group-text {
        padding: 10px 5px;
    }

    .otp input {
        /* margin-right: 8px !important; */
        margin-right: 16px !important;
    }

    .verify-btn {
        margin-right: 62px;
    }

    .dashboard-content {
        height: 1400px !important;
    }

    .header-item .mr-5 {
        margin-right: 1rem !important;
    }

    .history-content {
        padding: 0px;
    }

    table {
        font-size: 12px;
    }

    .table td,
    .table th {
        padding: 2px;
    }
}

@media screen and (max-width: 600px) {
    #val {
        width: 99%;
    }

    #button {
        top: 60px;
        width: 100%;
    }

    .actions ul li a {
        width: 100px;
    }

    .steps ul li {
        padding-right: 0px;
    }
}

@media screen and (max-width: 480px) {
    /* .guest-form {
        padding-left: 30px;
        padding-right: 30px;
    } */

    .form-radio-flex input+label {
        margin-bottom: 20px;
    }

    .form-flex {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .form-date-item #expiry_date,
    .form-date-item #expiry_year {
        width: 100%;
        margin-bottom: 10px;
    }

    /* .fieldset-content {
        height: 750px;
    } */
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area {
        margin: 8px 0;
    }
    .success-content{
        /*height: 500px !important;*/
    }
    .logo img {
        width: 64px;
    }

    .steps ul,
    .form-row {
        flex-direction: row;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -o-flex-direction: row;
        -ms-flex-direction: row;
    }

    .steps ul li:after {
        width: 0px;
    }

    .title {
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-row .form-date,
    .form-row .form-select,
    .form-file,
    input,
    select,
    textarea,
    .form-textarea textarea,
    .form-row .form-group label {
        width: auto;
    }

    .form-row .form-group:first-child,
    .form-row .form-group:last-child {
        float: none;
    }

    input,
    select,
    textarea {
        margin-right: 0px;
    }

    .fieldset-content {
        /* padding-right: 0px; */
        /* height: 600px; */
    }

    .dashboard-content {
        height: 936px !important;
    }

    .form-group,
    .form-select,
    .form-radio,
    .form-textarea,
    .form-date {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    label {
        /*width: 100%;*/
        /* text-align: left; */
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .form-row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .date li {
        /* width: 84px; */
        width: 82px; /*Change This Line*/
    }

    .time-slot li {
        /* width: 200px; */
        width: 192px; /*Change This Line*/
    }

    .customer-info,
    .customer-login,
    .customer-registration,
    .otp-verification,
    .success-content {
        padding: 0px 84px;
    }

    .history-content {
        padding: 0 10px;
    }

    table {
        font-size: 13px;
    }

    .table-responsive {
        display: table;
    }

    .table td,
    .table th {
        padding: 5px;
    }

    .verify-btn {
        margin-right: 80px;
    }
    .success-content h3 {
        margin-top: 24px;
    }

}

@media (min-width: 978px) and (max-width: 991px) {
    .time-slot li {
        width: 216px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .date li {
        width: 90px;
    }

    .time-slot li {
        width: 216px;
    }

    .history-content {
        padding: 0 10px;
    }

    .table-responsive {
        display: table;
    }

    .customer-info,
    .customer-login,
    .customer-registration,
    .otp-verification,
    .success-content {
        padding: 0px 128px;
    }

    .otp input {
        margin-right: 22px !important;
    }

    .verify-btn {
        margin-right: 72px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .table-responsive {
        display: table;
    }
}

@media (min-width: 2560px) {
    .table-responsive {
        display: table;
    }
}
