/* @extend display-flex; */
display-flex,
/* .form-group,
.form-select,
.form-radio,
.form-textarea,
.form-date,
.form-radio-item,
.form-flex,
.form-date-item .select-icon,
.form-date-item .select-icon i,
#val,
#button, */
.steps ul,
.actions ul,
.actions ul li a,
.title,
.number {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
ul,
.actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.svg#RobotoSlab") format("svg");
  /* Legacy iOS */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.svg#RobotoSlab") format("svg");
  /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.svg#RobotoSlab") format("svg");
  /* Legacy iOS */
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important;
}

.clear {
  clear: both;
}

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  font-weight: 400;
  font-family: 'Roboto Slab';
  margin: 0px;
  background: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
}


/*-- Header Area --*/
.header-area {
  margin: 16px 0;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link a {
  color: #051E34;
  text-decoration: none;
}

.header-link a i {
  font-size: 24px;
  position: relative;
  top: 3px;
  right: 6px;
}

.header-link a span {
  font-size: 16px;
}



/*-- Content Area --*/
.main {
  background: #ffffff;
}

.main h4 {
  color: rgba(5, 30, 52, 0.5);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 16px 0px;
  margin: 0;
}

.required-field {
  color: #EB5757;
}




/*-- Form Steps Area --*/
.steps {
  padding: 12px 20px;
  margin: 0 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.steps ul {
  justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-justify-content: space-around;
}

.steps ul li {
  position: relative;
  padding-right: 80px;
  padding-left: 0px;
}

.steps ul li:after {
  width: 1px;
  height: 30px;
  background: #ebebeb;
  /* right: 18px; */
  content: "";
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.steps ul li a {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

.steps ul li:last-child:after {
  width: 0px;
}

.steps ul .current a {
  color: #222222;
}

.steps ul .current a .number {
  border: 2px solid #222222;
}

.steps ul .done a {
  color: #F57224;
}

.steps ul .done a .number {
  font-size: 0px;
  position: relative;
  border: 2px solid #F57224;
}

.steps ul .done a .number:after {
  color: #F57224;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 14px;
  font-weight: bold;
  content: '\f26b';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.title {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.title_text {
  line-height: 1.2;
}

.number {
  width: 31px;
  height: 31px;
  border: 2px solid #999;
  margin-right: 15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
}



/*-- Form Content Area --*/
.content {
  overflow: hidden;
}

.content .current {
  padding-top: 15px;
}

.content h3 {
  display: none;
}



/*-- Field Set Area --*/
.fieldset-content {
  /*height: 476px;*/
  border-bottom: 1px solid #ebebeb;
  /* padding-right: 110px; */
  margin-top: 16px;
}

.fieldset-footer {
  padding: 26px 0;
}

.fieldset-footer span {
  color: #999999;
  margin-left: 15px;
}



.date {
  margin-top: 3px;
  margin-bottom: 16px;
}

.date li {
  width: 100px;
  background: #E6E9ED;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 0px;
  margin-right: 4px !important;
  /*Change This Line*/
}

.date li:first-child {
  border-radius: 4px 0px 0px 4px;
}

.date li:last-child {
  border-radius: 0px 4px 4px 0px;
}

.date li.active {
  background: #051E34;
}

.date li.list-inline-item:not(:last-child) {
  /* margin-right: 0px; */
  margin-right: 4px;
  /*Change This Line*/
}

.date li p.day {
  color: rgba(5, 30, 52, 0.7);
  font-size: 14px;
}

.date li.active p.day {
  color: #ebebeb;
}

.date li h5.dDate {
  color: #051E34;
  font-size: 15px;
  font-weight: bold;
}

.date li.active h5.dDate {
  color: #F57224;
}

.date li p.year {
  color: #999999;
  font-size: 16px;
  letter-spacing: 2px;
}

/*.time-slot li.list-inline-item:not(:last-child) {
   margin-right: 0; 
  margin-bottom: 4px;
  Change This Line
}*/

.time-slot li {
    width: 238px;
    height: 42px;
    color: #051E34;
    background: #F5F7FA;
    padding: 8px;
    margin-bottom: 4px !important;
    margin-right: 4px !important;
    cursor: pointer;
}

.time-slot li.active {
  background: #F57224;
  color: #051E34;
}

.time-slot li i {
  font-size: 16px;
}

.time-slot li i span {
  font-size: 14px;
}

.customer-info,
.customer-login,
.customer-registration,
.otp-verification,
.success-content {
  padding: 0px 216px;
}

.dashboard-content {
  height: 884px !important;
}

.history-content {
  padding: 0 80px;
}

.noPerson li {
  width: 54px;
  height: 48px;
  background: #F5F7FA;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.noPerson li.active {
  border: 2px solid #F57224;
}

.otp input {
  width: 54px;
  height: 48px;
  padding: 0;
  /* margin-right: 30px !important; */
  margin-right: 22px !important;
  /*Change This Line*/
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}

.otp input:last-child {
  margin-right: 0;
}

.otp input::-webkit-inner-spin-button,
.otp input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.otp input:focus,
.otp input.focus {
  border-color: #F57224;
  outline: none;
  box-shadow: none;
}

.btn-schedule {
  background: #F57224;
  color: #051E34;
  padding: 5px 15px;
  border-radius: 2px;
  border: 0px;
}

.btn-schedule i {
  font-size: 24px;
}

.btn-submit {
  width: 100px;
  color: #051E34;
  font-weight: bold;
  padding: 10px 20px;
}

.btn-submit:hover {
  background: #FF5100;
}

.resend,
.register,
.login,
.timer {
  color: #F57224;
  font-size: 16px;
  text-decoration: none;
}

.verify-btn {
  margin-right: 66px;
}

.previous {
  margin-top: 16px;
}

.book-now {
  color: #051E34 !important;
  background: #F57224 !important;
  font-weight: bold !important;
  border: 0px !important;
  margin-right: 15px;
  margin-top: 16px;
}

/* .terms-conditions{
  color: #F57224;
}
.terms-conditions:hover{
  color: #FF5100;
} */

.terms-conditions label {
  font-weight: bold;
  color: #000000;
}

.terms-conditions ul li {
    color: #495057;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 5px;
}

.success-content h3 {
  color: #27AE60;
  font-size: 24px;
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 0px;
}

.success-content p {
  color: rgba(5, 30, 52, 0.5);
  font-size: 18px;
  margin-top: 8px;
}

.btn-book-again {
  width: 150px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 16px;
}

.btn-book-again:hover {
  background: #FF5100;
}

.table-dark thead th {
  background: #051E34;
}

.table-dark tbody th,
.table-dark tbody tr {
  background: #F5F7FA;
  color: #051E34;
}

.edit a {
  color: #2D9CDB;
}

.cancel a {
  color: #EB5757;
}


a {
  text-decoration: none;
}

a:hover {
  color: #051E34;
  text-decoration: none;
}

p {
  margin: 0;
}

h5 {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}



/* .main {
  padding: 95px 0;
} */

/* .container {
  width: 850px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
} */

.guest-form {
  /* padding: 0 20px; */
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 48px;
  color: #051E34;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 12px 12px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-text {
  color: #495057;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 10px 14px;
  margin-bottom: 0;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.form-control:focus {
  color: #051E34;
  background-color: #fff;
  border-color: rgba(245, 114, 36, 0.73);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form-group,
.form-select,
.form-radio,
.form-textarea,
.form-date {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  /* margin-bottom: 30px; */
  position: relative;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

label.error {
  position: absolute;
  right: 92px;
  font-size: 11px;
  color: #ff0000;
}

label.error i {
  font-size: 12px;
}

input.error {
  border: 1px solid #ff0000;
}

input,
select,
textarea {
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
  padding: 15px 20px;
  border: 1px solid #ebebeb;
  font-family: 'Roboto Slab';
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  display: block;
  width: 345px;
  /* margin-right: 20px; */
  font-weight: bold;
}

input:focus,
select:focus,
textarea:focus {
  background: none;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
  font-weight: 400;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
  font-weight: 400;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
  font-weight: 400;
}

input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999;
  font-weight: 400;
}

select {
  color: #999;
  font-weight: 400;
}

.form-textarea textarea {
  height: 150px;
  width: 534px;
}

.form-radio {
  margin-bottom: 40px;
}

.form-radio-item input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.form-radio-item input+label {
  margin: 0px;
  padding: 12px 10px;
  width: 85px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #f8f8f8;
  font-size: 14px;
  font-weight: 400;
  color: #f8f8f8;
  text-align: center;
  text-transform: none;
  transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.form-radio-item input:checked+label {
  background-color: #1abc9c;
  color: #FFF;
  z-index: 1;
}

.form-radio-item input:focus+label {
  outline: none;
}

.form-radio-item input:hover {
  background-color: #1abc9c;
  color: #FFF;
}

.form-radio-item input+label:first-of-type {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-right: none;
}

.form-radio-item input+label:last-of-type {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-left: none;
}

.form-radio-flex input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.form-radio-flex input+label {
  margin: 0px;
  padding: 12px 10px;
  width: 54px;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #EBEBEB;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: none;
  transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.form-radio-flex input:checked+label {
  border: 2px solid #F57224;
  z-index: 1;
}

.form-radio-flex input:focus+label {
  outline: none;
}

.form-radio-flex input:hover {
  border: 1px solid #1abc9c;
}

/* #signup-form-p-2 .form-radio-flex,
#signup-form-p-2 .form-flex,
#signup-form-p-2 .form-group input {
  width: 534px;
}

#signup-form-p-2 #credit_card {
  width: 275px;
}

#signup-form-p-2 #cvc {
  width: 143px;
} */

.form-row>.col,
.form-row>[class*=col-] {
  padding-right: 15px;
  padding-left: 15px;
}

.form-row {
  padding: 0px 108px;
}

.form-row .form-group label {
  width: auto;
  color: rgba(5, 30, 52);
  font-size: 15px;
  margin-bottom: 2px;
}

.form-row .form-group:first-child {
  float: left;
}

.form-row .form-group:last-child {
  float: right;
}

.form-date {
  clear: both;
}

.form-date-item {
  position: relative;
  overflow: hidden;
}

.form-date-item:last-child:after {
  width: 0px;
}

.form-date-item select {
  position: relative;
  background: 0 0;
  z-index: 10;
  cursor: pointer;
  margin-right: 10px;
}

.form-date-item #expiry_date {
  width: 86px;
}

.form-date-item #expiry_year {
  width: 104px;
}

.form-date-item .select-icon {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.form-date-item .select-icon i {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  width: 30px;
  height: 20px;
  font-size: 22px;
  color: #999;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

input[type='file'] {
  height: 50px;
  opacity: 0;
}

#val {
  width: 345px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
  border: 1px solid #ebebeb;
  font-family: 'Roboto Slab';
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
}

#button {
  cursor: pointer;
  width: 130px;
  background: #f8f8f8;
  height: 50px;
  color: #999;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  text-align: center;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  transition: 500ms all;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
}

#button:hover {
  background-color: #dfdfdf;
}

.form-file {
  width: 488px;
  position: relative;
}

.form-password {
  position: relative;
}

.bar-strength {
  width: 60px;
  height: 15px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  background: #f8f8f8;
  position: absolute;
  right: 193px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.bar-process {
  width: 100%;
  height: 100%;
  position: relative;
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
}

.pw-very-weak .bar {
  background: #d00;
  width: 25px;
}

.pw-very-weak .label,
.pw-weak .label {
  color: #d00;
}

.pw-weak .bar {
  background: #d00;
  width: 25px;
}

.pw-mediocre .bar {
  background: #fca812;
  width: 35px;
}

.pw-strong .bar {
  background: #fca812;
  width: 42px;
}

.pw-mediocre .label,
.pw-strong .label {
  color: #fca812;
}

.pw-very-strong .bar {
  background: #1abc9c;
  width: 100%;
}

.pw-very-strong .label {
  color: #1abc9c;
}

.label {
  font-size: 11px;
}

.label i {
  font-size: 12px;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}



.actions {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  bottom: 12px;
  right: 0;
  /* text-align: right; */
  /* margin: 0 15px; */
}

.actions ul {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
  width: 100%;
}

.actions ul .disabled {
  /* display: none; */
  background: #dfdfdf !important;
  color: #999999 !important;
  font-weight: 400 !important;
}

.actions ul li {
  margin-left: 20px;
}

.actions ul li:first-child a {
  background: #ffffff;
  color: rgba(5, 30, 52, 0.7);
  font-weight: 400;
  border: 1px solid rgba(245, 114, 36, 0.6);
}

.actions ul li:first-child a:hover {
  background-color: #F5F7FA;
}

.actions ul li a {
  width: 150px;
  height: 50px;
  color: #051E34;
  background: #F57224;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.actions ul li a:hover {
  background-color: #FF5100;
  color: #051E34;
}





/* @media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%;
  }

  .bar-strength {
    display: none;
  }
} */

.error-time-slot {
    margin-bottom:10px;
}

.time-slot-disabled {
    background: #dfdfdf !important;
    color: #999999 !important;
    font-weight: 400 !important;
}

h4 {
    font-size: 24px !important;
    color: rgba(5, 30, 52) !important;
}

.book-shopping {
    /*height: 330px;*/
}

.customer-info {
    /*height: 360px;*/
}