@media only screen and (min-width: 1025px){
.show_desktop {
    display: block;
   }
}
@media only screen and (min-width: 1025px){
.cart_hover {
    top: 58px;
   }
}
.cart_hover,
.m_cart {
    position: absolute;
    background: #fff;
    right: 0;
    text-align: left;
    width: 300px;
    font-size: 12px;
    padding: 1.5em;
    top: 47px;
    z-index: 9999999;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .22);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .22)
}
.cart_hover:before,
    .new_hover:before {
        content: '';
        position: absolute;
        right: 81px;
        top: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 8px 5px;
        border-color: transparent transparent #fff transparent;
        line-height: 0
    }
.cart_hover {
        top: 58px
    }
    .cart_hover:before {
        right: 13px
    }
@media only screen and (min-width: 1025px){
.cart_hover:before {
    right: 13px;
  }
}
@media only screen and (min-width: 1025px){
.cart_hover:before, .new_hover:before {
    content: '';
    position: absolute;
    right: 81px;
    top: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
    line-height: 0;
  }
}
div[class*=col_] {
    float: left;
    position: relative;
    min-height: 1px;
}
.t_black {
    color: #111;
}
@media only screen and (min-width: 768px){
.col_m_12_of_12 {
    width: 100%;
  }
}
.col_s_10_of_10 {
    width: 100%;
}
@media only screen and (min-width: 768px){
.col_m_5_of_12 {
    width: 41.66%;
 }
}
.pr_10 {
    padding-right: 10px;
}
.col_s_4_of_10 {
    width: 40%;
}
.pi_wrapper {
    font-size: 85%;
    width: 100%;
    word-wrap: normal;
    white-space: normal;
    position: relative;
    display: block;
    float: left;
    text-align: left;
    padding: 0;
    letter-spacing: .5px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px){
.col_m_7_of_12 {
    width: 58.33%;
 }
}
.pl_10 {
    padding-left: 10px!important;
}
.col_s_6_of_10 {
    width: 60%;
}
.expand_p.active>span, .t_bold {
    font-weight: 700;
}
.go_back>h3, .ttl_header {
    font-size: 105%;
}
.p_price {
    font-weight: 700;
    padding: 0 0 5px 0;
    font-size: 1.15em;
}
.pt_5 {
    padding-top: 5px!important;
}
@media only screen and (min-width: 768px){
.col_m_12_of_12 {
    width: 100%;
 }
}
.pb_10 {
    padding-bottom: 10px!important;
}
.pt_10 {
    padding-top: 10px!important;
}
.lh_normal {
    line-height: 150%;
}
@media only screen and (min-width: 768px){
.col_m_12_of_12 {
    width: 100%;
 }
}
.pa_10 {
    padding: 10px;
}
.bt_gray {
    border-top: 1px solid #ddd;
}
.txc, .txcl, .txcr {
    text-align: center;
}
.col_s_10_of_10 {
    width: 100%;
}
button.btn_mid {
    padding: 0em!important;
}
button.bg_yellow {
    background: rgba(255,242,0,1);
    background: -moz-linear-gradient(top,rgba(255,242,0,1) 0,rgba(255,234,0,1) 50%,rgba(255,213,0,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,242,0,1)),color-stop(50%,rgba(255,234,0,1)),color-stop(100%,rgba(255,213,0,1)));
    background: -webkit-linear-gradient(top,rgba(255,242,0,1) 0,rgba(255,234,0,1) 50%,rgba(255,213,0,1) 100%);
    background: -o-linear-gradient(top,rgba(255,242,0,1) 0,rgba(255,234,0,1) 50%,rgba(255,213,0,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,242,0,1) 0,rgba(255,234,0,1) 50%,rgba(255,213,0,1) 100%);
    background: linear-gradient(to bottom,rgb(41, 29, 136) 0,rgb(41, 29, 136) 50%,rgb(41, 29, 136) 100%);
}
.ws_100 {
    width: 100%!important;
}
.bg_yellow {
    background: #fae400;
}