/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2021, 12:31:35 PM
    Author     : inzamamul_web
*/
.minicart-wrapper h6 svg {
    height: 20px;
    display: inline-block;
    margin-top: -8px;
}
.counter.qty {
    background: #3b3092;
    color: #fff;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 18px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
    font-size: 9px;
    position: absolute;
    left: 38px;
    top: 14px;
    height: 17px;
    line-height: 17px;
    border-radius: 11px;
}
.minicart-wrapper .counter.qty {
    background: #3b3092;
    color: #ffc606;
    font-weight: 700;
}
.counter-number {
    text-shadow: 0 0 7px #000;
}
.minicart-wrapper{
    cursor:pointer;
}
.minicart-wrapper .block-minicart {
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #fff;
    border: 1px solid #bbb;
    margin-top: 4px;
    min-width: 100%;
    width: 320px;
    z-index: 101;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
}
.minicart-wrapper .block-minicart {
    border: solid 1px #3b3092;
    border-radius: 4px;
}
.minicart-wrapper .block-minicart {
    padding: 26px 20px 0;
    margin-top: 8px;
}
@media only screen and (min-width: 768px) {
    .minicart-wrapper .block-minicart {
        right: 0px;
        width: 390px;
    }
}
.minicart-wrapper .block-minicart .block-title {
    display: none;
}
@media only screen and (min-width: 768px) {
    .block .block-title {
        margin-bottom: 0 !important;
        border-bottom: none !important;
    }
}
.block-content {
    text-align: center;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.minicart-wrapper .action.close {
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .minicart-wrapper #minicart-content-wrapper .action.close {
        position: absolute;
        right: 1px;
        top: -1px;
    }
}
/*.minicart-wrapper .action.close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 16px;
    color: #757575;
    content: '\f00d';
    font-family: FontAwesome;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}*/
.cart-actions-close{
    width: 22px;
}
.minicart-wrapper .action.close>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
@media only screen and (min-width: 768px) {
    .minicart-label {
        position: absolute;
        font-weight: 600;
        left: 15px;
    }
}
.minicart-wrapper a.action.viewcart {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    background: none;
    font-size: 14px;
    line-height: 2px;
    letter-spacing: 1px;
    padding: 12px;
}
.block-minicart .items-total {
    float: left;
    margin: 0;
    width: 100%;
}
.block-minicart .items-total {
    padding-left: 2px;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
    .block-minicart .items-total {
        padding-left: 2px;
        font-weight: 700;
        font-size: 13px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .minicart-wrapper .block-minicart .items-total {
        text-align: right;
    }
}
.minicart-wrapper .block-minicart .items-total {
    padding-bottom: 0;
}
.block-minicart .items-total .count {
    font-weight: 700;
    float: right;
    padding-left: 4px;
}
@media only screen and (min-width: 768px) {
    .block-minicart .items-total .count {
        font-weight: 700;
        float: right;
        padding-left: 4px;
    }
}

.minicart-items-wrapper {
    border-bottom: 2px solid #333;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    padding: 15px 0;
    width: 100%;
}
.minicart-items-wrapper {
    border: none;
    padding-bottom: 15px;
    max-height: 286px;
    height: auto !important;
    margin-bottom: 10px;
    overflow: auto;
}
@media only screen and (min-width: 768px) {
    .minicart-items-wrapper {
        border: none;
        padding-bottom: 15px;
        max-height: 286px;
        height: auto !important;
        margin-bottom: 10px;
        overflow: auto;
    }
}
.minicart-items-wrapper {
    overflow-x: hidden;
}
.minicart-items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.product-item {
    vertical-align: top;
}
.minicart-items .product-item {
    padding: 7px 0;
}
.minicart-wrapper .block-minicart li {
    margin: 0;
}
.minicart-items .product-item:first-child {
    padding-top: 0;
}
.minicart-items .product>.product-item-photo, .minicart-items .product>.product-image-container {
    float: left;
    padding-right: 15px;
}
.product-item .product-item-details {
    text-align: left !important;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative !important;
}
.minicart-items .product-item-details {
    padding-left: 88px;
}
@media only screen and (min-width: 768px) {
    .product-item .product-item-details {
        text-align: left !important;
        padding: 0 12px;
        box-sizing: border-box;
        position: relative !important;
    }
}
.product-item .product-item-details {
    padding: 0 12px 0 0;
}
.minicart-items .product-item>.product:after{
    clear: both;
}
.minicart-items .product-item>.product:after{
    content: '';
    display: table;
}
.minicart-items .product-item-name {
    font-weight: 600;
    margin: 0 0 10px;
}
.minicart-items .product-item-name {
    margin-bottom: 0;
}
.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}
.product-item .product-item-details {
    text-align: left !important;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative !important;
}
@media only screen and (min-width: 768px) {
    .product-item .product-item-details {
        text-align: left !important;
        padding: 0 12px;
        box-sizing: border-box;
        position: relative !important;
    }
}
.minicart-items-wrapper .product.options {
    padding-bottom: 0;
}
dt {
    font-weight: 700;
}
#minicart-content-wrapper dt {
    display: inline;
}
dd {
    margin-bottom: .5rem;
    margin-left: 0;
}
@media only screen and (min-width: 768px) {
    #minicart-content-wrapper dd, #minicart-content-wrapper dt {
        display: inline;
        font-size: 14px;
    }
}
.product-item-details .product-item-pricing {
    padding-top: 5px;
}
@media only screen and (min-width: 768px) {
    .product-item-details .product-item-pricing {
        padding-top: 5px;
    }
}
#minicart-content-wrapper .price-container {
    float: right;
}
@media only screen and (min-width: 768px) {
    #minicart-content-wrapper .price-container {
        float: right;
    }
}
.price-including-tax, .price-excluding-tax {
    display: block;
    font-size: 12px;
    line-height: 1;
}
@media only screen and (min-width: 768px) {
    #minicart-content-wrapper .price-excluding-tax {
        margin: 0;
        position: relative;
    }
}
.minicart-items .product-item-details .details-qty {
    margin-top: 5px;
    display: inline-block;
    width: 50% !important;
}
@media only screen and (min-width: 768px) {
    .minicart-items .product-item-details .details-qty {
        margin-top: 5px;
        display: inline-block;
        width: 50% !important;
    }
}
@media only screen and (min-width: 768px) {
    #minicart-content-wrapper .details-qty.qty {
        margin-top: 0;
        position: absolute;
        width: auto;
        bottom: -43px;
    }
}
#minicart-content-wrapper .details-qty.qty {
    bottom: -51px;
}
.minicart-items .product-item-pricing .label {
    display: inline-block;
}
@media only screen and (min-width: 768px) {
    .minicart-items .product-item-pricing .label {
        font-size: 13px;
    }
}
.minicart-items .details-qty .label:after{
    content: ': ';
}
.qty-minus, .qty-plus, .mini-qty-plus, .mini-qty-minus, .cart-qty-minus, .cart-qty-plus {
    width: 24px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-right: 0px;
    line-height: 34px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    font-family: initial;
}
#minicart-content-wrapper .minicart-items .item-qty {
    margin-right: 10px;
    text-align: center;
    border: none;
    margin: 0;
    width: 14px;
    padding: 0;
    line-height: normal;
    height: auto;
}
#minicart-content-wrapper .minicart-items .item-qty, .cart.table-wrapper .col.qty .input-text {
    padding: 0 4px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    border: 1px solid #eee;
    margin-right: 0px;
    margin-top: 0px;
    width: 36px;
}
.minicart-items .update-cart-item {
    font-size: 1.1rem;
    vertical-align: top;
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.block-minicart .subtitle {
    display: none;
}

@media only screen and (min-width: 768px) {
    .minicart-wrapper .product .actions {
        padding-left: 0;
        float: none;
        clear: both;
        margin: 0;
        display: inline-block;
    }
}
.minicart-wrapper .product .actions {
    position: absolute;
    bottom: -70px;
}
.minicart-wrapper .product .actions>.primary, .minicart-wrapper .product .actions>.secondary {
    display: inline;
}
.minicart-items .action.edit, .minicart-items .action.delete {
    display: inline-block;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .minicart-items .action.edit, .minicart-items .action.delete {
        position: relative;
    }
}
.product-actions-delete{
    width:14px;
}

.minicart-items .action.edit>span, .minicart-items .action.delete>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.minicart-items .product-item>.product:after{
    clear: both;
}
.minicart-items .product-item>.product:after{
    content: '';
    display: table;
}
@media only screen and (min-width: 768px) {
    .block-minicart .subtotal {
        text-align: left;
        padding-left: 98px;
        padding-top: 5px;
        margin-bottom: 0;
    }
}
.block-minicart .subtotal .label {
    width: 50% !important;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    float: left;
}
@media only screen and (min-width: 768px) {
    .block-minicart .subtotal .label {
        width: 50% !important;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        float: left;
        padding-top: 6px;
        font-size: 14px;
    }
}
.block-minicart .subtotal {
    text-align: left;
    padding-left: 98px;
    padding-top: 5px;
    margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
    .block-minicart .subtotal {
        text-align: left;
        padding-left: 98px;
        padding-top: 5px;
        margin-bottom: 0;
    }
}
.block-minicart .subtotal .label {
    width: 50% !important;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    float: left;
}
@media only screen and (min-width: 768px) {
    .block-minicart .subtotal .label {
        width: 50% !important;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        float: left;
    }
}
.block-minicart .subtotal .label:after{
    content: ': ';
}
.block-minicart .amount {
    display: inline-block;
    width: 50%;
}
#minicart-content-wrapper .price-container {
    float: right;
}
.block-minicart .amount .price-wrapper:first-child .price {
    font-size: 14px;
    font-weight: 400;
}
.block-minicart .subtotal {
    text-align: left;
    padding-left: 98px;
    padding-top: 5px;
    margin-bottom: 0;
}
.subtotal.mincartpoup {
    margin-top: 0 !important;
    line-height: 28px;
    width: 94%;
    display: inline-block;
}
.subtotal.mincartpoup {
    margin-top: -13px;
    line-height: 28px;
}
@media only screen and (min-width: 768px) {
    .block-minicart .subtotal {
        text-align: left;
        padding-left: 98px;
        padding-top: 5px;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 768px) {
    .subtotal.mincartpoup {
        margin-top: 0 !important;
        line-height: 28px;
        width: 94%;
        display: inline-block;
    }
}
@media only screen and (min-width: 768px) {
    .subtotal.mincartpoup {
        margin-top: -13px;
        line-height: 28px;
    }
}
.block-minicart .subtotal .label {
    width: 50% !important;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    float: left;
}
.block-minicart .subtotal .label:after{
    content: ': ';
}
.subtotal.mincartpoup span {
    display: inline-block;
    width: auto !important;
    text-align: right;
}
.subtotal.mincartpoup .total-price.grand-total .price {
    font-weight: 700;
}
.actions {
    margin-top: 0;
}
.primary {
    text-align: center;
    margin: 0 10px 15px;
}
.primary {
    margin-top: 5px;
}
.block-minicart .block-content>.actions>.primary .action.primary {
    display: inline-block;
    width: auto;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 4px 32px;
    font-size: 1.5rem;
    border-radius: 4px;
    text-transform: uppercase;
}
.block-minicart .block-content>.actions>.primary .action.primary {
    padding: 2px 41px;
}
#top-cart-btn-checkout {
    background: #3b3092;
    color: #fff;
    transition: .5s all;
    width: 50%;
    height: 35px;
}

#top-cart-btn-cart {
    background: #3b3092;
    color: #fff;
    transition: .5s all;
    width: 50%;
    height: 35px;
}

.block-minicart-open{
    display: block !important;
}
.empty{
    display: block;
    font-size: 14px;
    padding: 30px 0 20px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .minicart-wrapper a.action.viewcart{
        text-align: left;  
        line-height: 0px !important;
        padding: 5px !important;
    }
    .block-minicart .items-total .count{
        float: none;
    }
    .minicart-wrapper .product .actions{
        bottom: -17px;
        left: 92px;
    }
    .block-minicart .subtotal .label{
        padding-top: 8px;
    }
    .minicart-items .product-item:first-child{
        padding-top: 18px;
    }
    dd {
        display: inline;
    }
}