#nav .menu-mobile .open-close:before, #nav .menu-mobile .open-close:after {
    content:none;
}
#nav .menu-mobile .open-close.plus:before {
    content:'+';
    transform:rotate(0deg);
    color:#000;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:24px;
    display: block;
    overflow:hidden;
}
#nav .menu-mobile .open-close.minus:before {
    content:'-';
    transform:rotate(0deg);
    color:#000;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:24px;
    display: block;
    overflow:hidden;
}
.logo-img{
    width: 80px;
    height: 30px;
}
#header .links li.welcome {
    text-align:left;
}
#nav .bottomstatic .btn {
    min-width: 81px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: #020202;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#nav .menu > ul > li > ul > li > a {
    height:50px;
}
.minicart-wrapper a.action:after {
    font-size:15px;
}
.minicart-wrapper a.action:after {
    top:-4px;
}
@media only screen and (max-width: 1201px) {
    img.logo-tab {
        display:none;
    }
}
@media only screen and (max-width: 998px) {
    img.logo-tab {
        display:inline;
    }
}
/* Pagination style */
.pagination>li>a, .pagination>li>span {
	border-radius:50%;
	margin-left:20px;
	border:1px solid #FFF;
	color:#000;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-radius:50%;
	border:1px solid #000;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius:50%;
	border:1px solid #000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color:#291d88;
	border-color:#291d88;
}
@media (max-width: 766px) {
.pagination>li>a, .pagination>li>span {
    border-radius: 50%;
    margin-left: 4px;
    border: 1px solid #fff;
    color: #000;
  }
  .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 10px;
        line-height: 1.33;
        text-decoration: none;
        color: #1f1f1f;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: 6px;
    }
}
@media only screen and (max-width: 600px) {
    div[class*=round_tag] {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        letter-spacing: -.03em;
        font-size:8pt;
    }
      .round_tag_lt, .tag_lt {
        top: -10px;
        left: 0px !important;
     }
}
.g-stickycart {
			background: rgb(255, 255, 255);
			border-color: rgb(255, 255, 255);
			line-height: 56px;
			width: 56px;
			height: 56px;
			border-width: 0px;
			top: 200px;
			left: px;
			bottom: px;
			right: 10px;
		}
			.g-stickycart {
			/* background: #ccc; */
			border-radius: 50%;
			display: flex;
			justify-content: center;
			position: fixed;
			border-style: solid;
			cursor: pointer;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
			z-index: 9999;
		}
			.g-stickycart span.g-badge.g-stickycart-count {
			width: 14px;
			height: 14px;
			line-height: 14px;
			font-size: 11px;
			background:#291d88;
			color: rgb(255, 255, 255);
		}
			.g-stickycart span.g-badge {
			position: absolute;
			text-align: center;
			border-radius: 100%;
			color: #FFF;
			top: 0;
			left: 0;
		}
		.g-stickycart i.fa {
			align-self: center;
		}
		.g-stickycart .g-stickycart-icon {
			font-size: 24px;
			color: #291d88;
		}
		.g-popup .fa, .g-stickycart .fa {
			font-family: FontAwesome !important;
		}
		.fa-shopping-bag:before {
		content: "\f290";
	}
	.g-stickycart:hover{
		-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
		background: #cccccc69;
	}
    body {
        font-family:myriad-pro !important;
    }
    #om button {display:none;}
    .icon-instagram:before {
        content: "\f030";
        font-family: FontAwesome;
    }
    .icon-social-twitter:before {
        content: "\f099";
        font-family: FontAwesome;
    }
    .icon-facebook:before {
        content: "\f09a";
        font-family: FontAwesome;
    }
    button.toast-close-button {
        height: 0px;
    }
    img{
        pointer-events: none;
    }
.payment-methods {
            white-space: nowrap;
            list-style-type:none;
        }
        .payment-methods>li {
            display:inline-block;
            width:52px;
            height:32px;
            border:1px solid #DDD;
        }
        .payment-methods>li.cash-on-delivery {
            width:72px;
            height:32px;
            background:url(https://pride-limited.com/storage/app/public/payment.png) -70px -170px;
            background-repeat:no-repeat;
            background-size:400px auto;
        }
        .payment-methods>li.paypal {
            background:url(https://pride-limited.com/storage/app/public/payment.png) -100px -50px;
            background-repeat:no-repeat;
            background-size:400px auto;
        }
        .payment-methods>li.master-card {
            background:url(https://pride-limited.com/storage/app/public/payment.png) -200px -20px;
            background-repeat:no-repeat;
            background-size:400px auto;
        }
        .payment-methods>li.visa {
            background:url(https://pride-limited.com/storage/app/public/payment.png) -350px -20px;
            background-repeat:no-repeat;
            background-size:400px auto;
        }
        .payment-methods>li.american-express {
            background:url(https://pride-limited.com/storage/app/public/payment.png) -150px -20px;
            background-repeat:no-repeat;
            background-size:400px auto;
        }
        .payment-methods>li.bkash {
            background:url(https://pride-limited.com/storage/app/public/bkash.png);
            background-repeat:no-repeat;
            background-size:100% 100%;
        }
        .payment-methods>li.ipay {
            background:url(https://pride-limited.com/storage/app/public/ipay_method.png);
            background-repeat:no-repeat;
            background-size:100% 100%;
        }
        @media (min-width: 1000px){
            .social-networks .social-icons li a {
                width: 50px;
                height: 50px;
                line-height: 54px;
                font-size: 15px;
            }
        }
        img.logo-tab {
            width:62px;
            height:29px;
        }
        @media only screen and (max-width: 992px){
            img.logo-tab {
                margin-top:9px;
            }
        }
        @media only screen and (min-width: 768px){
            img.logo-tab {
                width:75px;
                height:34px;
            }
        }
        /* new style sheet */
        .topnote {
            background:#291d88;
            color: white;
        }
        #header .header-block {
            padding: 30px 0 0;
            min-height: 38px;
        }
        #header .block-search {
            border-bottom: 1px solid #303232;
        }
        .nav-block {
            background: #ffae00 !important;
        }
        .nav-block .nav-wrap {
            background: #ffae00 !important;
        }
        #nav .menu > ul > li > a {
            border-bottom: 1px solid #ffae00;
        }
        .cms-index-index #header {
            margin-bottom: 61px;
        }
        .cms-index-index #header {
            margin: 0;
        }
        .nav-block .logo:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: '';
        background: #fff0;
        background: rgba(255, 255, 255, 0);
        /* -webkit-transition: all 0.8s ease; */
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        }
        .myaccount-wrapper{
        position: absolute;
        right: 39px;
        top: 0;
        padding: 22px 20px 0;
        }
        
        .wishlist-wrapper{
        	position: absolute;
            right: 75px;
            top: 0;
            padding: 22px 20px 0;
        }
        .wish-list{
        	width:21px;
        }
        .user-icon{
        	width:21px;
        }
        span.cart_number {
            position: absolute;
            top: -5px;
            right: -7px;
            width: 15px;
            height: 14px;
            line-height: 14px;
            font-size: 11px;
            color: black;
            border-radius: 100%;
            text-align: right;
        }
        .minicart-wrapper a.action:after {
                font-size: 19px;
            }
            .minicart-wrapper a.action:after {
            top: -5px;
        }
        .minicart-wrapper a.action:after {
            position: absolute;
            right: 5px;
            top: -5px;
            color: black;
            content: "\f290";
            font-family: FontAwesome;
            font-size: 20px;
        }
        .dropbtn {
          background-color: #4caf5000;
          padding: 0px;
          height:22px;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: white;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          left: -85px;
          /*top: 9px;*/
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #ddd;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: none;cursor:pointer;}
        @media only screen and (max-width: 600px) {
          .contact-us{
              display:none;
          }
          .store-locator{
              display:none;
          }
          .free-shipping{
              padding: 0 0px !important;
              border-right: 0px solid #afafaf !important;
          }
          .dropdown-content{
              left: -79px;
          }
          #header .header-block {
                padding: 0px 0 0;
                min-height: 0px;
            }
        }
        @media only screen and (max-width: 767px) {
            .slick-arrow {
               width: 22px;
               height: 22px;
            }
        } 
    .page-main {
        padding-top:0px;
    }
    @media (max-width: 500px) {
      .page-main {
        padding-top:0px;
    }  
    }