    .font-alt{
        font-weight: bold;
        color: green;
    }
    .form-control:disabled, .form-control[readonly] {
        background-color: #ffffff;
        opacity: 1;
    }
    .order-total__list {
        margin-bottom: 2.5rem;
        font-weight: 700;
        font-size: 1.1875rem;
        line-height: 1.26316;
        color: #999;
        text-transform: capitalize;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
        color: black;
        font-weight: 600;
    }
    .form-nav { margin-bottom:40px; display:inline-block; width:100%; }
    .form-nav-item { position:relative; float:left; width:20%; text-align:center; font-size:13px; color:#9bb0bb; font-weight:700; }
    .form-nav-item span {
        display:inline-block;
        background:#291d88;
        color:white;
        width:35px;
        height:35px;
        text-align:center;
        border-radius:100%;
        font-size:15px;
        padding-top:7px;
        margin-bottom:7px;
        box-shadow:0px 0px 20px rgba(0, 0, 0, 0.07);
        position:relative;
        z-index:10;
    }

    .form-nav-item:after {
        content:'';
        width:120px;
        height:4px;
        display:block;
        background:white;
        position:absolute;
        right:-60px;
        top:17px;
    }
    .multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
        content: counter(stepNum);
        font-family: inherit;
        font-weight: 700;
    }
    .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
        background-color: #ededed;
    }

    .multi-steps {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .multi-steps > li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: #291d88;
    }
    .multi-steps > li:before {
        content: '\f00c';
        content: '\2713;';
        content: '\10003';
        content: '\10004';
        content: '\2713';
        display: block;
        margin: 0 auto 4px;
        background-color: #fff;
        width: 36px;
        height: 36px;
        line-height: 32px;
        text-align: center;
        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        border-color: #291d88;
        border-radius: 50%;
    }
    .multi-steps > li:after {
        content: '';
        height: 2px;
        width: 100%;
        background-color: #291d88;
        position: absolute;
        top: 16px;
        left: 50%;
        z-index: -1;
    }
    .multi-steps > li:last-child:after {
        display: none;
    }
    .multi-steps > li.is-active:before {
        background-color: #fff;
        border-color: #291d88;
    }
    .multi-steps > li.is-active ~ li {
        color: #808080;
    }
    .multi-steps > li.is-active ~ li:before {
        background-color: #ededed;
        border-color: #ededed;
    }
    .has-error {
        border-bottom: 1px solid red;
    }
    button {
        width: 100%;
        height: 30px;
        font-size: 10px;
        line-height: 28px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        border: none;
        background: rgb(41, 30, 136);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .checkout-container .step-title:before {
        background: #291e88;
        border-radius: 100%;
        color: #fff;
        font-size: 18px;
        height: 30px;
        left: 0;
        line-height: 30px;
        position: absolute;
        text-align: center;
        top: 2px;
        width: 30px;
    }
    .checkout-container .opc-block-summary span.title:before {
        background: #291e88;
        border-radius: 100%;
        color: #fff;
        font-size: 18px;
        height: 30px;
        left: 0;
        content: '4';
        line-height: 30px;
        position: absolute;
        text-align: center;
        top: 2px;
        width: 30px;
    }
    .table-caption{
        font-weight: 600;
        color: black;
    }
    .payment-option-title.field.choice {
        cursor: pointer;
    }
    .items-in-cart{
        cursor: pointer;
    }
    .has-error {
        border: 1px solid red !important;
        /* color: red; */
    }
    .page.messages .message-success {
        padding: 5px;
        color: #a94442;
        margin: 10px 0 0;
        letter-spacing: 2px;
        font-weight: 500;
        background: #f1c7c7;
        font-size: 14px;
    }
    /* Tooltip container */

    /* Tooltip text */
    .tooltip-container .tooltiptext {
        visibility: hidden;
        background-color: #EEE;
        color: #000;
        text-align: center;
        padding: 10px 5px;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        box-shadow:0 0 5px #AAA;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip-container:hover .tooltiptext {
        visibility: visible;
    }
    /* Tooltip text */
	
	.tooltip-container .tooltiptext {
		visibility: hidden;
		width: 100%;
		background-color: #FFF;
		color: #000;
		text-align: center;
		padding: 10px 5px;
		border-radius: 6px;
        border:1px solid #555;
		/* Position the tooltip text - see examples below! */
		position: absolute;
		top:100%;
		right:0;
		z-index: 1;
		box-shadow:0 0 5px #AAA;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip-container:hover .tooltiptext {
		visibility: visible;
	}
	.tooltip-container .tooltiptext::before {
	    content: "";
	    position:absolute;
	    top:-10px;
	    left:46%;
	    border-width: 0px 8px 10px 8px;
        border-style: solid;
        border-color: transparent transparent black transparent;
	}
	#delivery-options>div {
	    position:relative;
	}
    /* List fixing */
    .numbered.list-group {
        list-style: decimal inside;
    }
    sup{
    color:red;
   }
   #loading-image {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:#FFF;
    opacity:0.8;
    margin:0;
    z-index:999;
}
#loading-image img {
    position:absolute;
    left:50%;
    top:50%;
    width:auto;
    height:auto;
    transform:translate(-50%, -50%);
    opacity:1;
}
    .payment-icon {
        display: inline-block;
        width: 38px;
        height: 24px;
        -webkit-transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
        transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
        -webkit-backface-visibility: hidden
    }
    
    .blank-slate .payment-icon {
        vertical-align: middle
    }
    
    .payment-icon {
        border-radius: 0.21429em;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: 2.71429em;
        height: 1.71429em
    }
    
    .radio__label__accessory .payment-icon {
        cursor: default;
        margin: -1.14286em 0 -0.42857em
    }

    .payment-icon--known {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.05)
    }
    
    .payment-icon--unknown {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5
    }
    
    .offsite-payment-gateway-logo {
        height: 24px;
        display: block;
        margin-top: -2px
    }
    
    .payment-icon--visa {
        background-image: url(https://urban-truth.com/storage/app/public/payment/visa.webp);
        background-image: url(https://urban-truth.com/storage/app/public/payment/visa.svg), none
    }
    .payment-icon--american-express {
        background-image: url(https://urban-truth.com/storage/app/public/payment/american_express.png);
        background-image: url(https://urban-truth.com/storage/app/public/payment/american_express.svg), none
    }
    
    .payment-icon--master {
        background-image: url(https://urban-truth.com/storage/app/public/payment/master.png);
        background-image: url(https://urban-truth.com/storage/app/public/payment/master.svg), none
    }
    
    .payment-icon--bkash{
    	background-image: url(https://urban-truth.com/storage/app/public/payment/bkash-big.png);
        background-image: url(https://urban-truth.com/storage/app/public/payment/bkash-big.png), none
    }
    .visually-hidden {
        border: 0;
        clip: rect(0, 0, 0, 0);
        clip: rect(0 0 0 0);
        width: 2px;
        height: 2px;
        margin: -2px;
        overflow: hidden;
        padding: 0;
        position: absolute
    }
    .radio__label__accessory {
        text-align: right;
        padding-left: 3.75em;
        white-space: nowrap;
    }
    .mobile-strength-meter{
        font-size:11px;
        color: #777777;
    }
    span.input-description {
    font-size: 11px;
    color: #777777;
    }