 .pagebuilder-slider {
        height: 600px;
        overflow: hidden;
    }

    .pagebuilder-slide-button {
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
        line-height: 36px;
        padding: 0 20px;
        height: auto;
        min-width: 150px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        font-size: 16px;
        font-weight: normal;
        color: #222;
        border: 2px solid #fff;
        background-color: #fff;
    }

    .pagebuilder-slide-button:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

    @media only screen and (max-width: 767px) {
        .pagebuilder-slider {
            height: 435px !important;
            min-height: 435px !important;
        }
        .pagebuilder-slider {
            min-height: 435px !important;
        }
        .pagebuilder-slide-wrapper {
            min-height: 435px !important;
        }
        .pagebuilder-poster-overlay {
            min-height: 435px !important;
        }
    }

    #eapps-instagram-feed-1 {
        margin-bottom: -34px;
    }
    div#eapps-instagram-feed-1:after {
        content: '';
        display: block;
        background-color: #fff;
        height: 30px;
        position: absolute;
        bottom: 8px;
        left: -30px;
        right: 0;
        width: calc(100% + 60px);
        margin: 0 auto;
        z-index: 99999;
    }


    /* New Home Page Design */
    .cms-index-index #maincontent>.row,
    .cms-page-view #maincontent>.row {
        margin: 0 -15px;
    }

    @media only screen and (max-width: 767px) {
        .cms-index-index #maincontent>.row,
        .cms-page-view #maincontent>.row {
            margin: 0;
        }
    }

    .breadcrumbs,
    .footer-hands-icons {
        display: none;
    }

    .footer {
        margin: 6px 0 0;
    }

    .top-box {
        background-color: #f6f5f3;
        padding: 20px 0;
    }

    @media only screen and (min-width: 992px) {
        .top-box {
            padding: 50px 0;
        }
    }

    .top-box .category_title {
        font-size: 18px;
        font-weight: 600;
        color: #222;
        line-height: 25px;
        text-align: center;
        margin: 0 0 20px;
        text-transform: uppercase;
    }

    @media only screen and (min-width: 992px) {
        .top-box .category_title {
            font-size: 35px;
            line-height: 40px;
            margin: 0 0 45px;
        }
    }

    .top-box .promobanner>a {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    @media only screen and (min-width: 768px) {
        .lazy-loading-img .top-box .promobanner {
            background-position: center 75px;
        }
        .top-box .promobanner>a {
            height: 415px;
        }
        .top-box .middle_cat .promobanner>a {
            padding-top: 196px;
        }
        .lazy-loading-img .top-box .middle_cat .promobanner {
            background-position: center 75%;
        }
    }

    @media only screen and (min-width: 992px) {
        .lazy-loading-img .top-box .promobanner {
            background-position: center 120px;
        }
        .top-box .promobanner>a {
            height: 492px;
        }
        .top-box .middle_cat .promobanner>a {
            padding-top: 196px;
        }
        .lazy-loading-img .top-box .middle_cat .promobanner {
            background-position: center 75%;
        }
        .top-box .promobanner .text {
            height: 220px;
        }
    }

    @media only screen and (min-width: 1200px) {
        .top-box .promobanner>a {
            height: 565px;
        }
        .top-box .promobanner .text {
            height: 200px;
        }
    }

    .top-box .promobanner .text {
        padding: 30px 10px;
        text-align: center;
        background: #fff;
        font-size: 12px;
        line-height: 18px;
    }

    @media only screen and (min-width: 992px) {
        .top-box .promobanner .text {
            padding: 20px 20px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    @media only screen and (min-width: 768px) {
        .top-box .middle_cat .promobanner .text {
            top: 0;
            bottom: inherit;
        }
    }

    .top-box .banner-text a {
        font-size: 16px;
        line-height: 20px;
        color: #000;
        text-transform: uppercase;
        height: auto;
        overflow: inherit;
        margin: 0 0 15px;
    }

    .top-box .banner-text a:hover {
        color: #000;
        text-decoration: underline;
    }

    @media only screen and (min-width: 992px) {
        .top-box .banner-text a {
            font-size: 21px;
            line-height: 30px;
        }
    }

    .top-box .promobanner .btn.btn-promo-banner {
        padding: 0;
        background: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #222;
        text-transform: uppercase;
        text-decoration: underline;
        box-shadow: none;
        background: transparent;
        border: 0 none;
    }

    .top-box .promobanner .btn.btn-promo-banner:hover {
        color: #000;
        text-decoration: none;
    }

    @media only screen and (max-width: 767px) {
        .top-box  {
            padding: 20px 0 0;
        }
        .top-box .promobanner {
            margin-bottom: 20px;
            background-position: center 32%;
        }
        .top-box .promobanner>a {
            width: 100%;
            overflow: hidden;
        }
        .top-box .promobanner .text {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .middle-box .promobanner .text {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        background: rgba(255, 255, 255, 0.8);
        border: 5px solid #ddd;
    }

    @media only screen and (min-width: 767px) {
        .middle-box .promobanner .text {
            top: 50%;
            transform: translateY(-50%);
            bottom: inherit;
            width: 450px;
            padding: 30px;
            font-size: 16px;
            line-height: 25px;
        }
    }

    .middle-box .btn.btn-promo-banner {
        padding: 10px;
        background: #000;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
        border: 0;
    }

    .middle-box .btn.btn-promo-banner:hover {
        border-color: #ccc;
        background: #ccc;
        color: #000;
    }

    @media only screen and (max-width: 767px) {
        .middle-box .promobanner {
            background-position: center 18%;
        }
        .middle-box .promobanner .text {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .bottom-box {
        background-color: #f6f5f3;
        padding: 30px 0;
        margin-bottom: 52px;
    }

    @media only screen and (min-width: 992px) {
        .bottom-box {
            padding: 50px 0;
        }
    }

    .bottom-box .panel-block-row:first-child .promobanner {
        margin-bottom: 30px;
    }

    .bottom-box .promobanner {
        background-position: 25% center;
    }

    .bottom-box .promobanner>a {
        width: 50%;
        overflow: hidden;
    }

    .bottom-box .promobanner .text {
        top: 0;
        right: 0;
        background-color: #fff;
        width: 100%;
        /*height: 100%;*/
        text-align: center;
        padding: 20px 30px;
        text-align: center;
        font-size: 17px;
        line-height: 25px;
    }

    @media only screen and (min-width: 768px) {
        .bottom-box .promobanner .text {
            padding: 135px 30px;
            font-size: 14px;
            line-height: 20px;
        }	
    }

    @media only screen and (min-width: 992px) {
        .bottom-box .promobanner .text {
            padding: 40px 25px;
        }
    }

    @media only screen and (min-width: 1200px) {
        .bottom-box .promobanner .text {
            padding: 77px 30px;
        }
    }

    .bottom-box .banner-text h2 {
        font-size: 16px;
        line-height: 20px;
        color: #000;
        text-transform: uppercase;
        height: auto;
        overflow: inherit;
        margin: 0 0 15px;
    }

    @media only screen and (min-width: 992px) {
        .bottom-box .banner-text h2 {
            font-size: 21px;
            line-height: 30px;
        }
    }

    .bottom-box .promobanner .btn.btn-promo-banner {
        padding: 0;
        background: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #222;
        text-transform: uppercase;
        text-decoration: underline;
        box-shadow: none;
        background: transparent;
        border: 0 none;
    }

    .bottom-box .promobanner .btn.btn-promo-banner:hover {
        color: #000;
        text-decoration: none;
    }

    @media only screen and (max-width: 767px) {
        .bottom-box { 
            padding: 20px 0;
        }
        .bottom-box .panel-block-row:first-child .promobanner {
            margin-bottom: 20px;
        }
        .bottom-box .promobanner {
            background-position: center 32%;
        }
        .bottom-box .promobanner>a {
            width: 100%;
            overflow: hidden;
        }
        .bottom-box .promobanner .text {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .holder.instagram {
        background-color: #fff;
        padding: 25px 30px;
        margin-top: 30px;
    }

    @media only screen and (min-width: 992px) {
        .holder.instagram {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        .holder.instagram {
            margin-top: 20px;
        }
    }

    .holder.instagram .title {
        display: block;
        margin: 0 0 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #000;
    }
    .promobanner {
        position: relative;
        overflow: hidden
    }

    .promobanner>a>img {
        min-width: 100%
    }

    .promobanner .text {
        position: absolute;
        padding: 20px;
        z-index: 1;
        color: #1a1a1a;
        font-size: 15px
    }

    .promobanner .text.top-left,.promobanner .text.top-middle,.promobanner .text.top-right {
        top: 0;
        left: 0;
        right: 0
    }

    .promobanner .text.top-left {
        text-align: left
    }

    .promobanner .text.top-middle {
        text-align: center
    }

    .promobanner .text.top-right {
        text-align: right
    }

    .promobanner .text.middle-left,.promobanner .text.middle-center,.promobanner .text.middle-right {
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%)
    }

    .promobanner .text.middle-left {
        text-align: left
    }

    .promobanner .text.middle-center {
        text-align: center
    }

    .promobanner .text.middle-right {
        text-align: right
    }

    .promobanner .text.bottom-left,.promobanner .text.bottom-center,.promobanner .text.bottom-right {
        bottom: 0;
        left: 0;
        right: 0
    }

    .promobanner .text.bottom-left {
        text-align: left
    }

    .promobanner .text.bottom-center {
        text-align: center
    }

    .promobanner .text.bottom-right {
        text-align: right
    }

    .promobanner.zoom img {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transition: all .3s ease-out 0s;
        -webkit-transition: all .3s ease-out 0s;
        -moz-transition: all .3s ease-out 0s;
        -o-transition: all .3s ease-out 0s
    }

    .promobanner.zoom:hover img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    .promobanner.border-zoom:before {
        border: 2px solid #fff;
        top: -2px;
        bottom: -2px;
        right: -2px;
        left: -2px;
        content: '';
        display: block;
        position: absolute;
        transition: all .5s ease-out 0s;
        -webkit-transition: all .5s ease-out 0s;
        -moz-transition: all .5s ease-out 0s;
        -o-transition: all .5s ease-out 0s
    }

    .promobanner.border-zoom img {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transition: all .5s ease-out 0s;
        -webkit-transition: all .5s ease-out 0s;
        -moz-transition: all .5s ease-out 0s;
        -o-transition: all .5s ease-out 0s
    }

    .promobanner.border-zoom:hover:before {
        top: 15px;
        bottom: 15px;
        right: 15px;
        left: 15px;
        z-index: 9
    }

    .promobanner.border-zoom:hover img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    .promobanner.flashed:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 1000px;
        height: 200px;
        background: rgba(255,255,255,.5);
        content: '';
        transition: transform .6s;
        -webkit-transition: transform .6s;
        -moz-transition: transform .6s;
        -o-transition: transform .6s;
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0)
    }

    .promobanner.flashed:hover:after {
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
        -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
        -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0)
    }

    .promobanner.zoom-flashed:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 1000px;
        height: 200px;
        background: rgba(255,255,255,.5);
        content: '';
        transition: transform .7s;
        -webkit-transition: transform .7s;
        -moz-transition: transform .7s;
        -o-transition: transform .7s;
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0)
    }

    .promobanner.zoom-flashed img {
        transition: all .5s ease 0s;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s
    }

    .promobanner.zoom-flashed:hover:after {
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
        -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0);
        -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,300%,0)
    }

    .promobanner.zoom-flashed:hover img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    .promobanner.shadow-corner {
        transition: all .2s ease 0s;
        -webkit-transition: all .2s ease 0s;
        -moz-transition: all .2s ease 0s;
        -o-transition: all .2s ease 0s
    }

    .promobanner.shadow-corner:hover {
        box-shadow: 2px 3px 3px rgba(0,0,0,.2)
    }

    .promobanner.zoom-shadow:after {
        position: absolute;
        content: "";
        left: 20px;
        right: 20px;
        bottom: 20px;
        top: 20px;
        background: #000;
        opacity: .4;
        transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s
    }

    .promobanner.zoom-shadow:hover:after {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0
    }

    .promobanner.cup-border {
        overflow: visible
    }

    .promobanner.cup-border a:after {
        border: 2px solid #ddbe86;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        content: "";
        opacity: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -o-transform: translate(0);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease
    }

    .promobanner.cup-border:hover a:after {
        opacity: 1;
        transform: translate(15px,15px);
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px,15px);
        -o-transform: translate(15px,15px)
    }

    .promobanner.flashed-zoom a:after {
        position: absolute;
        content: "";
        width: 100%;
        padding-top: 100%;
        top: 50%;
        left: 50%;
        opacity: 1;
        background: #fff;
        transform: translate(-50%,-50%) rotate(45deg) scale(0);
        -webkit-transform: translate(-50%,-50%) rotate(45deg) scale(0);
        -moz-transform: translate(-50%,-50%) rotate(45deg) scale(0);
        -o-transform: translate(-50%,-50%) rotate(45deg) scale(0);
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out
    }

    .promobanner.flashed-zoom a>img {
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out
    }

    .promobanner.flashed-zoom:hover a>img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    .promobanner.flashed-zoom:hover a:after {
        opacity: 0;
        transform: translate(-50%,-50%) rotate(45deg) scale(1);
        -webkit-transform: translate(-50%,-50%) rotate(45deg) scale(1);
        -moz-transform: translate(-50%,-50%) rotate(45deg) scale(1);
        -o-transform: translate(-50%,-50%) rotate(45deg) scale(1)
    }

    .promobanner.zoom-out-shadow a:after {
        position: absolute;
        content: "";
        left: -10px;
        right: -10px;
        bottom: -10px;
        top: -10px;
        border: 2px solid #fff;
        outline-width: 15px;
        outline-style: solid;
        outline-color: rgba(0,0,0,.3);
        z-index: 100;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out
    }

    .promobanner.zoom-out-shadow:hover a:after {
        left: 15px;
        right: 15px;
        bottom: 15px;
        top: 15px
    }

    .promobanner.mist a:after {
        position: absolute;
        z-index: 1;
        background-color: rgba(255,255,255,.8);
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out
    }

    .promobanner.mist:hover a:after {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        opacity: 1;
        visibility: visible
    }

    .promobanner.mist-text a:after {
        position: absolute;
        z-index: 1;
        background-color: rgba(255,255,255,.8);
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out
    }

    .promobanner.mist-text:hover a:after {
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1)
    }

    form.minisearch.loading .control input[type=text] {
        box-shadow: none;
        -webkit-animation-name: search-loading;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-name: search-loading;
        animation-duration: 3s;
        animation-iteration-count: infinite
    }

    @-webkit-keyframes search-loading {
        0% {
            box-shadow: none
        }

        25% {
            box-shadow: 0 0 3px 1px #68a8e0
        }

        50% {
            box-shadow: 0 0 3px 1px #fff
        }

        75% {
            box-shadow: 0 0 3px 1px #68a8e0
        }

        100% {
            box-shadow: none
        }
    }

    @keyframes search-loading {
        0% {
            box-shadow: none
        }

        25% {
            box-shadow: 0 0 3px 1px #68a8e0
        }

        50% {
            box-shadow: 0 0 3px 1px #fff
        }

        75% {
            box-shadow: 0 0 3px 1px #68a8e0
        }

        100% {
            box-shadow: none
        }
    }