.owl-carousel {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    -ms-touch-action: pan-y;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #ffffff00;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.slider-section {
    position:relative;
}
.slider-section a.btn {
    position:absolute;
    bottom:66px;
    left:50%;
    transform:translate(-50%, 0);
    margin:0;
    padding:0;
}
@media (max-width: 500px) {
    .slider-section a.btn {
        bottom:107px !important; 
    } 
}

.cms-index-index #header {
    margin-bottom:61px;
}

#desktop-carousel {
    display:block;
}
#mobile-carousel {
    display:none;
}
.page-header {
    padding-bottom:0;
}
.btn.shop-now {
    width: 140px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    margin: 0 0 0 -70px;
    background: black;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    border-color: black;

}
/* Next & previous buttons */
.carousel-control.right  { 
    cursor: pointer;
    position: absolute;
    top: 46%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.carousel-control.left{
    cursor: pointer;
    position: absolute;
    top: 46%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.module-small {
    padding: 33px 0;
}
.checklist ul li .active{
    font-weight: 700;
}
.carousel-control.left, .carousel-control.right{ 
    background: none !important;
    filter:none !important;
}

@media only screen and (max-width:992px) {
    .cms-index-index #header {
        margin-bottom:0;
    }
    .category-area.mobile-margin {
        margin-top:40px;
    }

    #desktop-carousel {
        display:none;
    }
    #mobile-carousel {
        display:block;
    }
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    #desktop-carousel {
        display:none;
    }
	#tablet-carousel{
		display:none;
	}
	#mobile-carousel {
        display:block;
    }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
    #desktop-carousel {
        display:none;
    }
	#tablet-carousel{
		display:none;
	}
	#mobile-carousel {
        display:block;
    }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    #desktop-carousel {
        display:none;
    }
	
	#mobile-carousel {
        display:none;
    }
	
	#tablet-carousel{
		display:block;
	}
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #desktop-carousel {
        display:none;
    }
	#mobile-carousel {
        display:none;
    }
	#tablet-carousel{
		display:block;
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
   #desktop-carousel {
        display:block;
    }
	#mobile-carousel {
        display:none;
    }
	#tablet-carousel{
		display:none;
	}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    #desktop-carousel {
        display:block;
    }
	#mobile-carousel {
        display:none;
    }
	#tablet-carousel{
		display:none;
	}
}

.block.upsell .btn-prev, .block.upsell .btn-next {
    position:absolute;
    top:50%;
   /* background: rgba(255, 255, 255, 0); */
   background: none;
}
 .custom-carousel {
  position:relative;
  display:inline-block;
  width:100%;
  padding-bottom:150%;
  border: 1px solid #eee;
}
.custom-carousel .item{
  opacity:0;
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
}
.custom-carousel .item.active {
  opacity:1;
}
/*Active filering */
.sidebar .filter-holder ul li .m-filter-item-list li a.active:after {
background:#000;
}

@media (max-width: 999px) {
.slideshow .desktop-img {
    display: none;
}
.slideshow .mobile-img {
    display: block;
}


.best-seller .col2 .holder .caption {
    top: 0;
    margin: 0 0 0 -200px;
    display:none;
}
}
@media (max-width: 766px) {
    .best-seller .col2 .holder .caption {
        margin: 0;
    } 
}

.beadcumarea{display:none !important;}
.checkout-popup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    background: rgba(40, 40, 40, 0.7); }
.popup-open .checkout-popup {
    display: block; 
}
.checkout-popup .popup-holder {
    display: table;
    width: 100%;
    height: 100%; }
.checkout-popup .popup-frame {
    display: table-cell;
    vertical-align: middle; }
@media (max-width: 500px) {
    .checkout-popup .popup-frame {
        vertical-align: top;
        padding: 50px 20px 0; } }
.checkout-popup .popup-block {
    max-width: 450px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    text-align: center;
    color: #000;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px; }
.checkout-popup .popup-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    opacity: 0.7;
    margin: 2px 2px 0 0; }
@media (max-width: 500px) {
    .checkout-popup .popup-close {
        width: 25px; } 
}
.checkout-popup .popup-close:hover {
    opacity: 1; 
}
.checkout-popup img {
    display: block;
    width: 100%; 
}
.prev_arrow{
        width:34px;
    }

    .next_arrow{
        width:34px; 
    }
    
    .btn.shop-now{
        background: #00000096;
        border-color: #00000000;
    }

    @media only screen and (max-width: 600px) {
        .prev_arrow{
            width:24px;
        }
        .next_arrow{
            width:24px; 
        }
        .btn.shop-now{
            width:100px;
            font-size:12px;	
        }
    } 

    .content-heading {
        text-align: center;
        margin-bottom: 33px
    }

    .content-heading h3.title {
        display: inline-block;
        position: relative;
        color: #000;
        line-height: 24px
    }

    .content-heading h3.title:before,.content-heading h3.title:after {
        position: absolute;
        content: "";
        width: 60px;
        height: 2px;
        background: #000;
        top: 48%
    }

    .content-heading h3.title:before {
        left: -75px
    }

    .content-heading h3.title:after {
        right: -75px
    }

    .content-heading .block-note {
        font-size: 14px;
        color: #878787;
        margin-top: 5px;
        line-height: 16px;
        letter-spacing: .5px
    }

    .panel-block-row.trending .items.row .slick-slide{
        padding:0px 15px;
    }
    .panel-block-row.trending .items.row .slick-arrow{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        color: #222;
        border: 2px solid #222;
        background: none;
        font-size: 36px;
        text-align: center;
        transition: all 300ms;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
        vertical-align: top;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 43%;
        right: -30px;
        margin-top: -19px;
        line-height: 34px;
        z-index:90;



    }
    .panel-block-row.trending .items.row .pe-7s-angle-left.slick-arrow{
        left: 0px;
    }
    .panel-block-row.trending .items.row .pe-7s-angle-right.slick-arrow{
        right:0px;
    }
    .panel-block-row.trending .items.row .pe-7s-angle-right.slick-arrow:hover{border-color:#989898;    background-color: #989898;color:#fff;}
    .panel-block-row.trending .items.row .pe-7s-angle-left.slick-arrow:hover{border-color:#989898;    background-color: #989898;color:#fff;}
    @media(max-width:768px){
        .panel-block-row.trending .items.row .pe-7s-angle-right.slick-arrow{right:15px;}
        .panel-block-row.trending .items.row .pe-7s-angle-left.slick-arrow{left:15px;}

    }
    [class^=pe-7s-], [class*=" pe-7s-"]{
        display:inline-block;font-family:'Pe-icon-7-stroke';speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    }
    .products-grid .product-item-info .product-item-details {
        padding-top: 11px;
        display: flex;
        flex-wrap: wrap
    }

    .products-grid .product-item-info .product-item-details .product-item-name {
        margin-bottom: 6px;
        line-height: 0.1;
        width: 70%;
        order: 0
    }

    .products-grid .product-item-info .product-item-details .product-item-name a {
        color: #222;
        font-size: 13px;
        font-weight: 500;
        text-transform: capitalize
    }

    @media only screen and (max-width: 767px) {
        .products-grid .product-item-info .product-item-details .product-item-name a {
            font-size:13px
        }
    }

    .products-grid .product-item-info .product-item-details .product-item-name a:hover {
        color: #989898
    }

    .products-grid .product-item-info .product-item-details .price-box {
        text-align: right;
        width: 30%;
        order: 1
    }

    .products-grid .product-item-info .product-item-details .price-box span {
        font-size: 12px;
        float: none;
        margin: 0
    }

    .products-grid .product-item-info .product-item-details .price-box span.price {
        display: block
    }
    .price-box .price {
        color: #696969
    }

    .price-box .price-label {
        display: none
    }
    .slick-slide img{
        width:370px;
    }
    
   .slick-arrow {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    color: #222;
    background: none;
    font-size: 36px;
    text-align: center;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -19px;
    line-height: 34px;
    z-index: 90;
    }
    .pe-7s-angle-left.slick-arrow{
            left: 0px;
        }
    .products-grid .product-item-info .product-item-details .product-item-name a{
        font-weight:600;
    }