 .nav-block {
        position: relative;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        -webkit-box-shadow: 0 0 1px 0 rgba(127, 127, 127, 0.2);
        box-shadow: 0 0 1px 0 rgba(127, 127, 127, 0.2);
    }
    .icon-down:before {
        content: "\f107";
        font-family: FontAwesome;
        font-size: 15px;
    }
    .product-items .product-item-photo .product-image-wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        border: 0px solid #00000012;
    }
	/* Pagination style */
	.pagination>li>a, .pagination>li>span {
		border-radius:50%;
		margin-left:20px;
		border:1px solid #FFF;
		color:#000;
	}
	.pagination>li:first-child>a, .pagination>li:first-child>span {
		border-radius:50%;
		border:1px solid #000;
	}
	.pagination>li:last-child>a, .pagination>li:last-child>span {
		border-radius:50%;
		border:1px solid #000;
	}
	.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
		background-color:#291d88;
		border-color:#291d88;
	}
	@media (max-width: 766px) {
    .pagination>li>a, .pagination>li>span {
        border-radius: 50%;
        margin-left: 4px;
        border: 1px solid #fff;
        color: #000;
      }
      .pagination>li>a, .pagination>li>span {
            position: relative;
            float: left;
            padding: 6px 10px;
            line-height: 1.33;
            text-decoration: none;
            color: #1f1f1f;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-left: 6px;
        }
	}
.custom-carousel {
	  position:relative;
	  display:inline-block;
	  width:100%;
	  padding-bottom:150%;
	  border: 1px solid #eee;
  }
  .custom-carousel .item{
	  opacity:0;
	  -webkit-transition:opacity 1s;
	  transition:opacity 1s;
	  position:absolute;
	  width:100%;
	  height:100%;
	  left:0;
  }
  .custom-carousel .item.active {
	  opacity:1;
  }
  /*Active filering */
  .sidebar .filter-holder ul li .m-filter-item-list li a.active:after {
    background:#000;
  }
  div[class*=round_tag] {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    letter-spacing: -.03em;
  }
  .round_tag_lt, .tag_lt {
		top: -10px;
		left: -10px;
	}
	.tag_container {
		position: absolute;
		display: table;
		text-align: center;
		line-height: 115%;
		z-index: 9;
	}
	.bg_red {
      background: #f5a004;
      border: 1px solid #ddd;
	}
	.t_white {
    color: white;
    font-size: 9pt;
	}
	.tag_container>span {
		display: table-cell;
		vertical-align: middle;
		letter-spacing: 1px;
	}

.gallery-page .btn {
    min-width: 150px;
    padding: 5px;
    height: auto;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}
.swatch {
    padding: 10px 0 0 0;
}
@media only screen and (min-width: 1025px){
	.show_desktop {
		display: block;
	}
}
.swatch {
    font-size: 90%;
    line-height: initial;
}
.ws_100 {
    width: 100%!important;
}
.swatch li {
    margin: 0 8px 5px 0;
}
.swatch li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 0;
}
ul li {
    list-style: none;
}
.pi_wrapper .swatch li span.selected {
    border: 1px solid #fff;
}
.swatch.round li span, .round img, .swatch.round .color li span.oos:before {

}
.swatch li span {
    width: 28px;
    height: 20px;
    min-width: 21px;
    min-height: 10px;
    text-align: center;
    line-height: 175%;
    border: 3px solid #fff;
}
.swatch li span {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    position: relative;
}
.swatch li span.selected img, .swatch li span:hover img {
    border: 2px solid #291d88;
    cursor: pointer;
}
.swatch li img {
    vertical-align: top;
    border: 1px solid #291d886e;
    padding: 2px;
}
.amquickview-hover {
    width: 30px;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    max-height: 40px;
    padding: 8px 0;
    min-height: 17px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 12px;
    display: block !important;
    background: url(https://pride-limited.com/storage/app/public/zoom-in-16.png) no-repeat center;
    cursor: pointer;
    position: absolute;
    top: 77%;
    left: 7%;
}
.amquickview-hover a.amquickview-link {
    opacity: 0;
    height: 30px;
    display: block;
}
.mz-hint{
    /*width: 30px;*/
    /*text-align: center;*/
    z-index: 10;
    opacity: 1;
    max-height: 0;
    /*padding: 6px 0;*/
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 12px;
    display: block !important;
    cursor: pointer;
    position: relative;
    bottom: 39px;
    left:0;
}

.mz-hint-message {
    display: inline-block;
    background: rgba(49,51,61,.7);
    border-radius: 2em;
    padding: .7em 1.1em;
}
.mz-hint .mz-hint-message {
    height: 35px;
    width: 35px;
    background: #eaeaea;
    border: 1px solid #fdfdfd;
    border-radius: 0;
    color: #818181;
    font-size: 0;
    transition: background .2s ease-in-out;
}
.mz-hint .mz-hint-message:before {
    font-family:  FontAwesome !important;
    speak: none;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00e";
}
.mz-hint .mz-hint-message:before {
    display: inline-block;
    /*width: 33px;*/
	padding-left: 9px;
    font-size: 16px;
    line-height: 33px;
}

@media only screen and (max-width: 600px){
        .ws_100.swatch.round.show_desktop.show_tablet{
            text-align: center;
        }
    }
    
@media only screen and (max-width: 600px){
.product-items .product-item .sold-out {
    background: red;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    color: #fff;
    line-height: 32px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 10;
    font-size: 9px;
    overflow: hidden;
   }
}

@media screen and (max-width: 599px) and (min-width: 300px) {
    .amquickview-hover {
        top: 60%;
        width: 26%;
    } 
    
    .mz-hint{
        bottom: 39px;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .amquickview-hover {
        top: 70%;
        width: 13%;
    } 
    .mz-hint{
        top: 39%; 
    }
}

@media screen and (max-width: 800px) and (min-width: 701px) {
    .amquickview-hover {
        top: 80%;
        width: 9%;
    } 
     .mz-hint{
        bottom: 39px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 801px) {
    .amquickview-hover {
        top: 72%;
        width: 13%;
    } 
     .mz-hint{
        bottom: 39px;
    }
}

