.page-main {
    min-height:96vh;
}
.page-main {
    padding-top:64px;
    background-color: #f6d33b;
    background-image: url(../../storage/app/public/overlay.png);
    padding: 116px 0;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.f-16{
	font-size: 16px;
}
.pt-17{
	padding-top:17px;
}
.pb-17{
    padding-bottom:17px;
}
.heading{
	text-align: center;
    display: block;
    padding-bottom: 45px;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #291d88;
}
input[type="text"],input[type="password"]{
	height: initial;
    padding: 9px 12px 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    display: block;
    outline: none;
}
.custom-btn{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 0px;
    padding: 9px 15px 9px;
    border: 1px solid rgba(255, 255, 255, 0);
    min-width: 130px;
    max-width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-design{
	padding: 9px 55px;
    background: black;
    color: white;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    max-width:77%;
    background-image:linear-gradient(to bottom, #291e88, #291e88, #291e88); 
}
.font-weight-600{
	font-weight:600;
}
.text-uppercase{
	 text-transform: uppercase;
}
input.error{
	border:1px solid #c70000;
}
label.error {
    color: red;
    font-size: 13px;
    font-weight: 600;
}
.with-errors{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
    font-weight: 600;
}
button{
    height: 38px;
}
.form-control{
    font-size:14px;
}
.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 60px;
}
.section-signup .blocks-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 940px;
}
.section-signup .block {
    width: 50%;
}
.section-signup .sign-info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 80px;
    text-align: left;
}
.page-title {
    display: block;
    text-align: center;
    margin-top: auto;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.11em;
    color: #3b3092;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.section-signup .sign-info .page-title {
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: left;
}
.section-signup .sign-info .sign-image {
    display: block;
    margin-top: 130px;
    position: relative;
    width: 130%;
    z-index: 2;
}
.section-signup .block {
    width: 50%;
}
.section-signup .signup-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 40px;
    border: 1px solid #eee;
}
.section-signup .signup-form h5 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #291d88;
}
.section-signup .signup-form p {
    color: #888888;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 30px;
}
.section-signup .signup-form .form {
    max-width: 320px;
}
.section-signup .signup-form .form {
    margin: 0 auto;
}
@media (max-width: 767.98px){
	.container {
		padding: 0 36px;
	}
}
@media (max-width: 575.98px){
.container {
    padding: 0 10px;
  }
  .section-signup .sign-info .page-title{
      text-align: center;
      padding-top: 15px;
  }
  .section-signup .signup-form {
      border: 0px solid #eee;
  }
}
@media (max-width: 991.98px){
	.section-signup .blocks-wrap {
		display: block;
	}
}
@media (max-width: 991.98px){
	.section-signup .block {
		width: 100%;
	}
}
@media (max-width: 991.98px){
	.section-signup .sign-info {
		margin-bottom: 40px;
		padding-right: 0;
	}
}
@media only screen and (min-width: 320px) and (max-width: 766px){
	.page-title {
		font-size: 25px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 766px){
	.page-title {
		font-size: 25px;
	}
}
@media (max-width: 991.98px){
	.section-signup .sign-info .sign-image {
		margin-top: 10px;
		width: 100%;
	}
}
@media (max-width: 991.98px){
	.section-signup .block {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.register-part{
		padding-top:30px;
	}
	.f-16{
		font-size: 12px;
	}
	.page-main{
	    padding-top:0px;
	}
	.heading{
	    padding-bottom: 20px;
	    padding-top: 16px;
	    font-size: 15px;
        font-weight: 600;
        color: #291d88;
	}
	.with-errors{
	    font-size:12px;
	}
	.btn-design{
	    max-width:80%;
	}
}