
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 1.35em;
  padding-bottom: 1.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid #8080808a;
}
legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
.-danger{
	color:red;
	padding:2px;
}
b, strong {
	font-weight: 600;
}
.main_payment {
	padding: 1em 0;
	border-top: 1px solid #e6e6e6;
	text-align:center;
}

div.paymentMethodItem {
	width: 200px;
	height: 100px;
	float: none;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 20px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #E6E6E6;
	cursor: pointer;
	background: #FAFAFA;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	-moz-box-shadow: 1px 1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc;
}
.paymentMethods div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}
h4 {
	font-size: 16px;
	padding: 16px 0;
}
.Portwallet img {
	background-size: 150px;
}
div.paymentMethodItem .paymentMethodItemContent img {
	width: 100%;
	height: 50px;
	background-position: 50%;
	margin-top: 10px;
	background-repeat: no-repeat;
}
div.paymentMethodItem .paymentMethodItemContent {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 12px;
	text-align: center;
}
.anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main{
	display: inherit;
}
 .anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {
        display: inherit;
    }
    .wrap {
        display: block;
        margin: 0 auto;
        max-width: 40em;
        zoom: 1;
    }
    .wrap:after, .wrap:before {
        content: "";
        display: table;
    }
    .wrap:after {
        clear: both;
    }
    .anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .main__content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .section__header {
        position: relative;
        margin-bottom: 1em;
    }
    .section {
        position: relative;
        padding-top: 2em;
    }
    .section__content {
        zoom: 1;
    }
    .sidebar {
        position: relative;
        color: #535353;
    }
    .sidebar__header {
        margin-bottom: 2.5em;
        display: none;
    }
    .sidebar::after {
        content: "";
        display: block;
        width: 300%;
        position: absolute;
        top: 0;
        left: -100%;
        bottom: 0;
        background: #fafafa;
        z-index: -1;
        -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
        box-shadow: 0 -1px 0 #e1e1e1 inset;
    }
    .order-summary__section {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .sidebar {
        padding-top: 4em;
    }
    .order-summary__section~.order-summary__section {
        border-top: 1px solid rgba(175,175,175,.34);
    }
    table {
        width: 100%;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 1em;
    }
    .total-line:first-child th, .total-line:first-child td {
        padding-top: 0;
    }
    td:last-child, th:last-child {
        text-align: right;
    }
    .sidebar .order-summary__emphasis {
        color: #323232;
    }
    .order-summary__emphasis {
        font-weight: 500;
    }
    .total-line__price {
        padding-left: 1.5em;
        text-align: right;
        white-space: nowrap;
    }
    .total-line th, .total-line td {
        padding-top: .75em;
    }
    .total-line-table__tbody+.total-line-table__tbody .total-line:first-child th, .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td, .total-line-table__tbody+.total-line-table__footer .total-line:first-child th, .total-line-table__tbody+.total-line-table__footer .total-line:first-child td {
        padding-top: 3em;
        position: relative;
    }
    .sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
        background-color: rgba(175,175,175,.34);
    }
    .total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
        content: '';
        position: absolute;
        top: 1.5em;
        left: 0;
        width: 100%;
        height: 1px;
    }
    .sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child td::before {
        background-color: rgba(175,175,175,.34);
    }
    .payment-due-label__total {
        font-size: 1.14286em;
    }
    .payment-due-label__taxes {
        display: block;
    }
    .order-summary__small-text {
        font-size: .65714em;
    }
    .payment-due__price {
        font-size: 1.71429em;
        font-weight: 500;
        letter-spacing: -.04em;
        line-height: 1em;
    }
    @media (min-width: 1000px){
        .wrap {
            padding: 0 1%;
            width: 90%;
            max-width: 78.57143em;
        }
    }
    @media (min-width: 1000px){
        .main {
            width: 52%;
            padding-right: 6%;
            float: left;
            border-right: 1px solid rgba(175,175,175,.34);
        }
    }
    @media (min-width: 750px){
        .section__header {
            margin-bottom: 1.5em;
        }
    }
    @media (min-width: 750px){
        .section {
            padding-top: 3em;
        }
    }
    @media (min-width: 1000px){
        .sidebar {
            width: 38%;
            padding-left: 0%;
            background-position: left top;
            float: right;
        }
    }
    @media (min-width: 1000px){
        .order-summary__section {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    }
    @media (min-width: 1000px){
        .order-summary__sections {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
        }
    }
    @media (max-width: 999px){
        .wrap {
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 1em;
        }
        h2, .h2 {
            font-size: 18px;
        }
    }
    @media only screen and (max-width: 600px) {
        .main {
            border-right: 0px solid rgba(175,175,175,.34);
        }
      .delivery-address {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }