.mi-order {
  border: 1px solid #dadada;
  padding: 15px 20px 5px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mi-order-status, .mi-order-id, .mi-order-price, .mi-order-button {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 10px;
  margin-right: 30px;
  white-space: nowrap;
}

.mi-order-status b, .mi-order-id b, .mi-order-price b, .mi-order-button b {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.mi-order-button {
  margin-bottom: 10px;
  margin-right: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.mi-order-moredetails {
  display: inline-block;
    background: transparent;
    border: 1px solid #8080806b;
    padding: 0px 15px;
    height: auto;
    font-weight: 500;
    /* background: #222222; */
    color: black;
    white-space: nowrap;
}

.mi-order.is-visible {
  border-color: #3E4095;
}

.mi-orderdetails {
  margin-top: 30px;
  border: 1px solid #dadada;
}

.mi-orderdetails-id {
  padding: 10px 20px;
  background: #F2F2F2;
  color: #615e58;
  font-weight: 700;
  border-bottom: 1px solid #dadada;
}

.mi-orderdetails-body {
  padding: 10px 20px;
}

.mi-orderdetails-date, .mi-orderdetails-address {
  margin-bottom: 0;
}

.mi-orderdetails-products {
  margin-top: 15px;
}

.mi-orderdetails-product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  width:100%;
}

.mi-orderdetails-product-image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80px;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  max-width: 80px;
  margin-right: 15px;
  border: 1px solid #e7e7e7;
}

.mi-orderdetails-product-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mi-orderdetails-product-title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
  margin-bottom: 0;
}

.mi-orderdetails-product-title a {
  color: #615e58;
}

.mi-orderdetails-product-title a:hover {
  color: #3E4095;
}

.mi-orderdetails-product-price {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #95918a;
}
.mi-orderdetails-product-size {
  font-size: 11px;
  line-height: 1.2rem;
  color: black;
  display:block;
}

.mi-orderdetails-product-color {
  font-size: 11px;
  line-height: 1.2rem;
  color: black;
  display:block;
}

.new-accountblocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -30px;
}

.new-accountblock {
  margin-top: 30px;
  border: 1px solid #dadada;
  padding: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(50% - 15px);
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}
.new-accountblock.fullwidth{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
    max-width: 100%;
}

.new-accountblock > h6 {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.new-accountblock > h6::after {
  content: "";
  clear: both;
  display: table;
}

.new-accountblock > h6 a {
  float: right;
  text-transform: capitalize;
  font-weight: 400;
}

.new-accountblock p {
  margin-bottom: 0;
}

.new-accountblock .new-editbutton {
  text-align: right;
  margin-top: 10px;
}

.new-accountblock .new-editbutton a {
  color: #F79633;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.new-accountblock .new-editbutton a:hover {
  color: #3E4095;
}

.form-field .birthday,
.form-field-half .birthday {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.form-field .birthday input,
.form-field-half .birthday input {
  margin-left: 30px;
}

.form-field .birthday input[type=number]::-webkit-inner-spin-button,
.form-field .birthday input[type=number]::-webkit-outer-spin-button,
.form-field-half .birthday input[type=number]::-webkit-inner-spin-button,
.form-field-half .birthday input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-btn {
    margin-top:50px;
  }
.custom-btn-edit{
	margin-top:15px;
}
@media only screen and (max-width: 600px) {
  .custom-btn {
    margin-top:0px;
  }
  .mi-orderdetails-product{
	  width:100%;
  }
}