 

@font-face {
    font-family: lazada;
    src: url(//laz-g-cdn.alicdn.com/lzdfe/iconfont/1.0.24/font_451018_dtvxkpnyqyw.eot);
    src: url(//laz-g-cdn.alicdn.com/lzdfe/iconfont/1.0.24/font_451018_dtvxkpnyqyw.eot) format("embedded-opentype"), url(//laz-g-cdn.alicdn.com/lzdfe/iconfont/1.0.24/font_451018_dtvxkpnyqyw.ttf) format("truetype");
}
.lazada {
    font-family: lazada !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lazada-download:before {
    content: "\e69c";
}
.next-step{
   font-family: 'Open Sans Condensed', sans-serif !important;
}
body {
    color: #212121;
     background-color: white; 
    font-size: 14px;
}
.package {
    border: 1px solid #eee;
}
.progress-bar {
    float: none;
    width: 100%;
    height: 100%;
    font-size: 9px;
    line-height: 13px;
    color: #fff;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: width .6s ease;
    transition: none;
}
.mi-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
    position: relative;
    color: #3b3092;
    margin-bottom: 7px;
    padding-left: 0px;
}
.mi-title::before {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100px;
    background: #3b3092;
    top: auto;
    bottom: -1px;
}
.mi-title h5 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.mi-title::after {
    content: "";
    clear: both;
    display: table;
}


.package {
    margin-top: 12px;
    background-color: #fff;
    width: 100%;
}
.package .dummy-wrapper {
    overflow: hidden;
}
.package .package-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.package .package-header-left {
    -webkit-box-flex: 1;
    flex: 1;
}
.package .package-info {
    margin: 9px 11px 0;
    height: 20px;
    line-height: 20px;
}
.package .text.header.header-icon {
    font-size: 20px;
    position: relative;
    top: 2px;
}
.text {
    color: #212121;
    word-break: break-word;
}
.lazada {
    font-family: lazada!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lazada-ic-package:before {
    content: "\e640";
}
.lazada-ic-package:before {
    content: "\e640";
}
.lazada-ic-Express:before {
    content: "\e749";
}
.lazada-ic-Express-id:before {
    content: "\e74a";
}
.lazada-ic-Express-new:before {
    content: "\e7e5";
}
.lazada-ic-Badge-Express:before {
    content: "\e716";
}
.lazada-ic-help:before {
    content: "\e643";
}
.lazada-ic-reduceBtn1:before {
    content: "\e702";
}
.lazada-ic-order:before {
    content: "\e644";
}
.lazada-Settings:before {
    content: "\e6cb";
}
.lazada-edit1:before {
    content: "\e7f1";
}
.package .package-info-text {
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}
.seller-info {
    position: relative;
    padding: 4px 12px 9px;
    font-size: 14px;
}
.link, a {
    cursor: pointer;
}
.text.link {
    cursor: pointer;
    /*color: #1a9cb7;*/
    font-weight: 600;
    color: #3b3092;
}
.seller-info .im-chat {
    float: right;
    font-size: 14px;
    cursor: pointer;
}
.seller-info .im-chat span {
    /*color: #1a9cb7;*/
    font-weight: 600;
    color: #3b3092 !important;
}
.seller-info .im-chat-icon {
    color: #1a9cb7;
    margin-right: 5px;
}
.seller-info .im-chat span {
    color: #1a9cb7;
}
.package-body {
    position: relative;
    border-top: 1px solid #dadada;
    padding-top: 10px;
}
.shipping-info {
    padding: 0 12px 8px;
}
.shipping-info .shipping-delivery-info {
    height: 20px;
    position: static;
}
.text.delivery-success {
    color: #212121;
}
.shipping-info {
    padding: 0 12px 8px;
}
.shipping-info .shipping-delivery-info {
    height: 20px;
    position: static;
}
.shipping-info .shipping-delivery-info .delivery-method {
    vertical-align: middle;
    font-size: 24px;
}
.shipping-info .progress-bar {
    margin-bottom: 16px;
}
.shipping-info .spaceLine {
    height: 15px;
}
.shipping-info .tracking-list {
    border: 1px solid #dadada;
    background-color: #eff0f5;
    border-radius: 4px;
    padding: 12px;
    position: relative;
}
.shipping-info .tracking-list .view-more {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}
.shipping-info .tracking-list-info-table {
    display: table;
    table-layout: fixed;
}
.shipping-info .tracking-item {
    display: table-row;
}
.shipping-info .tracking-item-time {
    display: table-cell;
    word-break: keep-all;
    white-space: nowrap;
}
.shipping-info .tracking-item-content {
    padding-left: 12px;
    display: table-cell;
    padding-bottom: 5px;
}
.shipping-info .translate {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #eff0f5;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    top: -6px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.shipping-info .progress-info-division {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 35px;
}
.shipping-info .top-up-btn {
    height: 14px;
    line-height: 14px;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
}
.shipping-info .next-step-item-tail {
    top: 5px !important;
}
.shipping-info .tracking-view-btn {
    font-size: 11px;
}
.shipping-info .absolute-top-right {
    position: absolute;
    top: 5px;
    right: 12px;
}
.pull-right {
    float: right!important;
}
.shipping-info .shipping-delivery-info .delivery-method {
    vertical-align: middle;
    font-size: 24px;
}
.lazada-ic-Standard:before {
    content: "\e751";
}
.lazada-ic-Standard:before {
    content: "\e751";
}
.text.desc {
    font-size: 12px;
}
.order-item {
    min-height: 80px;
    margin: 24px 12px 24px 36px;
    padding-right: 12px;
    width: 100%;
}
.order-item .item-pic {
    float: left;
}
.order-item .item-pic img {
    width: 80px;
    height: 100px;
}
.order-item .iconTag {
    height: 14px;
    margin-right: 4px;
}
.order-item .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.order-item .item-main {
    float: left;
    width: 360px;
    margin-left: 12px;
    margin-right: 24px;
}
.order-item .item-main-mini {
    width: 280px;
}
.order-item .item-quantity {
    font-size: 14px;
    float: left;
    width: 64px;
    min-height: 80px;
    text-align: left;
}
.order-item .item-quantity .multiply {
    font-size: 14px;
}
.order-item .item-status {
    float: left;
    min-height: 80px;
    text-align: left;
    margin-left: 12px;
}
.order-item .item-capsule {
    width: 204px;
    text-align: center;
}
.order-item .item-capsule .capsule {
    margin-top: -4px;
}
.order-item .item-price {
    margin-bottom: 4px;
    width: 180px;
}
.order-item .item-through-price {
    text-decoration: line-through;
}
.order-item .item-info {
    float: right;
    min-height: 80px;
    text-align: right;
    max-width: 204px;
}
.order-item.order-bundle-items {
    margin: 24px 12px;
}
.order-item .more-details {
    margin-top: 7px;
}
.order-item .details-desc {
    height: 17px;
    line-height: 17px;
    display: inline-block;
}
.order-item .item-info-link {
    margin-top: 8px;
    display: block;
}
.order-item .item-info-link:first-child {
    margin-top: 0;
}
.order-item .reverse-info {
    margin-top: 4px;
}
.order-item .reverse-info .tail {
    margin-left: 8px;
    font-size: 12px;
}
.order-item .text-tag {
    text-align: right;
    line-height: 17px;
    font-family: Helvetica;
    font-size: 14px;
    color: #9e9e9e;
}
.order-item .presale-tag {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height: 14px;
    font-size: 9px;
    line-height: 14px;
    padding: 0 2px;
}
.clear {
    clear: both;
}
.total-summary {
    box-sizing: border-box;
    /*float: right;*/
    margin-top: 12px;
    padding: 10px 12px;
    background-color: #fff;
    border:1px solid #eee;
}
.total-summary .header {
    margin-bottom: 9px;
}
.text.header {
    font-size: 18px;
    font-weight: 600;
}
.total-summary .row {
    height: 16px;
    line-height: 16px;
    margin-bottom: 5px;
    padding: 10px 12px;
}
.total-summary .price, .total-summary .second-header {
    font-weight: 600;
}
.total-summary .fee-row {
    margin-bottom: 5px;
}
.total-summary hr {
    border: 0;
    border-top: 1px solid #dadada;
    margin: 14px -4px;
}
.delivery-summary {
    margin-top: 12px;
}
.delivery-summary .delivery-wrapper {
    padding: 10px 12px;
    box-sizing: border-box;
    background-color: #fff;
    border:1px solid #eee;
}
.delivery-summary h3.title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 9px;
}
.delivery-summary span.username {
    font-weight: 500;
}
.delivery-summary span {
    font-size: 14px;
    line-height: 20px;
    display: block;
}
.delivery-summary span.address {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.delivery-summary .in-line {
    display: inline!important;
}
h5{
    color: #3b3092;
    font-weight: 600;
    letter-spacing: 1px;
}