.product-name, .product-title {
    color: #000;
    display: block;
    margin-bottom: 4px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-shop .product-title {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}
.product-shop .short-description {
    margin-bottom: 25px;
}
.swatch.size {
    display: block!important;
}
.swatch {
    margin-bottom: 13px;
}
.swatch .header {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    margin-bottom: 10px;
}
.swatch .header em {
    color: #e7040f;
    font-style: unset;
}
.swatch .swatch-element {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 8px 10px 0;
    position: relative;
}
.swatch .swatch-element .crossed-out, .swatch input[type=radio] {
    display: none;
}
.product-shop .shopify-product-form label {
    font-weight: 500;
}
.swatch .swatch-element label {
    margin: 0;
    color: #141414;
    cursor: pointer;
    line-height: 34px;
    border: 1px solid #e3e3e3;
}
.swatch .swatch-element.color input:checked+label {
    min-width: 42px;
    height: 42px;
    border: 4px solid #e3e3e3;
}
.swatch .swatch-element.Color label, .swatch .swatch-element.Size label, .swatch .swatch-element.color label, .swatch .swatch-element.size label {
    min-width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.swatch .swatch-element.size input:checked+label {
    background: #291e88;
    border: 1px solid #291e88;
    color: #fff;
}
.swatch .swatch-element.Color .crossed-out, .swatch .swatch-element.Size .crossed-out, .swatch .swatch-element.color .crossed-out, .swatch .swatch-element.size .crossed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../../storage/app/public/soldout-1.png) no-repeat 50%;
}
.swatch .soldout .crossed-out {
    display: block;
}
.swatch .swatch-element.soldout label {
    cursor: no-drop;
}
.swatch .soldout {
    opacity: .5;
}
.swatch.color {
    display: block!important;
}
.swatch .swatch-element.color {
    height: 42px;
}
.swatch .tooltip {
    text-align: center;
    background: #000;
    color: #fff;
    bottom: 100%;
    padding: 5px 10px;
    display: block;
    position: absolute;
    z-index: 2;
    min-width: 50px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 12px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.28);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    pointer-events: none;
}
.tooltip {
    font-family: open sans condensed,sans-serif!important;
}
.swatch .tooltip:before {
    bottom: -16px;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%;
}
.swatch .tooltip:after {
    border-left: solid transparent 7px;
    border-right: solid transparent 7px;
    border-top: solid #000 7px;
    bottom: -7px;
    content: " ";
    height: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 0;
}
.swatch .swatch-element.color label {
    position: relative;
    border: 4px solid transparent;
}
.swatch .swatch-element .bgImg {
    display: block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #e3e3e3;
}
.swatch .swatch-element:hover .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.product-shop .quantity {
    margin-bottom: 15px;
}
.product-shop .total-price {
    margin-bottom: 14px;
}
.product-shop .total-price label {
    margin-right: 3px;
}
.product-shop .total-price .total-money {
    font-size: 12px;
    color: #000;
    font-weight: 700;
}
.product-shop .quantity label {
    font-weight: 700;
    margin-bottom: 10px;
}
.qty-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border: 1px solid #ebebeb;
    max-width: 154px;
    background-color: #fff;
}
.product-shop .qty-group {
    border-color: #eee;
    max-width: 142px;
}
.qty-group .button {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.qty-group .button.minus {
    border-right: 1px solid #cbcbcb;
}
.product-shop .qty-group .button {
    width: 38px;
}
.product-shop .qty-group .button.minus {
    border-right: 1px solid #eee;
	background-color: white;
}
.qty-group .button:after, .qty-group .button:before {
    position: absolute;
    content: "";
    background-color: #7b7b7b;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.qty-group .button:before {
    width: 11px;
    height: 3px;
}
.qty-group .button:after, .qty-group .button:before {
    position: absolute;
    content: "";
    background-color: #7b7b7b;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.qty-group .button:after {
    height: 11px;
    width: 3px;
}
.qty-group .button.minus:after {
    background-color: rgba(255,255,255,0);
}
.qty-group input[name="updates[]"], .qty-group input[name=quantity] {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    border: none;
    text-align: center;
    color: #646464;
    padding: 7px 5px 5px;
    background-color: rgba(255,255,255,0);
}
.product-shop .qty-group input[name=group_quantity], .product-shop .qty-group input[name=quantity] {
    width: 64px;
    color: #2d2d2d;
}
.product-shop .qty-group .button.plus {
    border-left: 1px solid #eee;
	background-color: white;
}
.product-shop .groups-btn {
    clear: both;
}
.ajax-quickview .modal-overlay .halo-modal-content .halo-modal-body .product-shop .groups-btn {
    margin-bottom: 6px;
}
.button {
    border: none;
}
.product-shop .prices {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}
.product-shop .prices .compare-price {
    color: #969696;
    margin-right: 8px;
    font-weight: 700;
    position: relative;
}
.product-shop .prices .compare-price:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    height: 2px;
    visibility: visible;
    background: #969696;
}
.product-shop .prices .on-sale {
    color: #e7040f;
}
.product-shop .label-sale-bg {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 10px;
}
p:last-child, p:last-of-type {
    margin-bottom: 0;
}