.halo-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0,0,0,.8);
}
.halo-modal .modal-overlay {
    position: relative;
    margin: .5rem auto;
    pointer-events: none;
    max-width: 557px;
    top: 50vh;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ajax-quickview .modal-overlay {
    max-width: 957px;
}
.halo-modal .halo-modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    margin: 0 auto;
}
.ajax-quickview .modal-overlay .halo-modal-content {
    max-width: 100%;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close {
    opacity: 1;
    float: none;
}
.close-modal {
    color: #fff!important;
    background: #000;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 2;
    padding-top: 1px;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
svg {
    fill: currentColor;
    stroke: currentColor;
    width: 17px;
    height: 18px;
}
svg:not(:root) {
    overflow: hidden;
}
.close svg {
    width: 17px;
    height: 18px;
}
.close-modal svg {
    margin-left: 1px;
}
.halo-modal .halo-modal-content .halo-modal-body {
    max-height: 81vh;
    overflow: auto;
}
.ajax-quickview .modal-overlay .halo-modal-content .halo-modal-body {
    padding: 40px 40px 40px 40px;
    max-height: 88vh;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.product-img-box {
    position: relative;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.product-img-box .slider-for {
    margin-bottom: 30px;
    position: relative;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-slider .slick-track {
    min-width: 100%;
}
.product-img-box .slider-for .thumb {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.product-img-box .slider-for [data-zoom] {
    display: block;
}
.product-img-box .click-to-zoom {
    text-align: center;
    position: relative;
    color: #969696;
    margin-top: 70px;
}
.product-img-box .slider-nav {
    padding: 0 35px;
    margin-bottom: 22px;
    margin-top: 17px;
}
.product-label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    letter-spacing: -.33em;
    text-align: left;
}
.product-label .sale-label {
    color: #fff;
    margin-bottom: 5px;
}
.product-label .label {
    line-height: 1em;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 4px 7px 3px;
    border: none;
    margin: 0;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    min-width: 42px;
    min-height: 20px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    letter-spacing: normal;
    text-align: center;
}
.product-name, .product-title {
    color: #000;
    display: block;
    margin-bottom: 4px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-shop .product-title {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 18px;
    display: block;
}
.product-shop .group_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-shop .spr-badge {
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.spr-badge {
    *zoom: 1;
    min-height: auto;
    min-width: auto;
    display: block;
}
.spr-badge-starrating {
    margin-right: 0!important;
}
.spr-badge-starrating {
    margin: 0 3px 0 0;
}
.spr-icon {
    padding: 0 2px;
    font-size: 105%!important;
    margin: 0;
}
.spr-icon {
    font-size: 120%;
    position: relative;
    top: 1px;
    width: 1.3em;
    height: 1.3em;
}
.spr-icon:first-of-type {
    padding-left: 0;
}
.spr-icon.spr-icon-star-empty, .spr-icon.spr-icon-star-half-alt {
    opacity: 1!important;
}
.spr-icon.spr-icon-star-empty {
    opacity: 0.6;
}
.product-shop .sold_product {
    color: #e7040f;
    margin-bottom: 20px;
}
.product-shop .product-infor {
    margin-bottom: 18px;
}
.product-shop .product-infor label {
    font-weight: 700;
    min-width: 117px;
    margin-right: 5px;
    color: #000;
}
.product-shop .countdown-item {
    margin-bottom: 22px;
}
.product-shop .prices {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}
.product-shop .prices .compare-price {
    color: #969696;
    margin-right: 8px;
    font-weight: 700;
    position: relative;
}
.product-shop .prices .compare-price:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    height: 2px;
    visibility: visible;
    background: #969696;
}
.product-shop .prices .on-sale {
    color: #e7040f;
}
.product-shop .label-sale-bg {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 10px;
}
p:last-child, p:last-of-type {
    margin-bottom: 0;
}
.product-shop .label-sale-bg p {
    font-size: 12px;
    color: #fff;
    background: #e7040f;
    font-weight: 700;
    padding: 0 6px;
    border-radius: 2px;
    letter-spacing: 0;
    position: relative;
}
.product-shop .label-sale-bg p:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 7px solid #e7040f;
    border-bottom: 5px solid transparent;
}
.product-shop .short-description {
    margin-bottom: 25px;
}
.swatch.size {
    display: block!important;
}
.swatch {
    margin-bottom: 13px;
}
.swatch .header {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    margin-bottom: 10px;
}
.swatch .header em {
    color: #e7040f;
    font-style: unset;
}
.swatch .swatch-element {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 8px 10px 0;
    position: relative;
}
.swatch .swatch-element .crossed-out, .swatch input[type=radio] {
    display: none;
}
.product-shop .shopify-product-form label {
    font-weight: 500;
}
.swatch .swatch-element label {
    margin: 0;
    color: #141414;
    cursor: pointer;
    line-height: 34px;
    border: 1px solid #e3e3e3;
}
.swatch .swatch-element.color input:checked+label {
    min-width: 42px;
    height: 42px;
    border: 4px solid #e3e3e3;
}
.swatch .swatch-element.Color label, .swatch .swatch-element.Size label, .swatch .swatch-element.color label, .swatch .swatch-element.size label {
    min-width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.swatch .swatch-element.size input:checked+label {
    background: #291e88;
    border: 1px solid #291e88;
    color: #fff;
}
.swatch .swatch-element.Color .crossed-out, .swatch .swatch-element.Size .crossed-out, .swatch .swatch-element.color .crossed-out, .swatch .swatch-element.size .crossed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../../storage/app/public/soldout-1.png) no-repeat 50%;
}
.swatch .soldout .crossed-out {
    display: block;
}
.swatch .swatch-element.soldout label {
    cursor: no-drop;
}
.swatch .soldout {
    opacity: .5;
}
.swatch.color {
    display: block!important;
}
.swatch .swatch-element.color {
    height: 42px;
}
.swatch .tooltip {
    text-align: center;
    background: #000;
    color: #fff;
    bottom: 100%;
    padding: 5px 10px;
    display: block;
    position: absolute;
    z-index: 2;
    min-width: 50px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 12px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.28);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    pointer-events: none;
}
.tooltip {
    font-family: open sans condensed,sans-serif!important;
}
.swatch .tooltip:before {
    bottom: -16px;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%;
}
.swatch .tooltip:after {
    border-left: solid transparent 7px;
    border-right: solid transparent 7px;
    border-top: solid #000 7px;
    bottom: -7px;
    content: " ";
    height: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 0;
}
.swatch .swatch-element.color label {
    position: relative;
    border: 4px solid transparent;
}
.swatch .swatch-element .bgImg {
    display: block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #e3e3e3;
}
.swatch .swatch-element:hover .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.product-shop .quantity {
    margin-bottom: 15px;
}
.product-shop .total-price {
    margin-bottom: 14px;
}
.product-shop .total-price label {
    margin-right: 3px;
}
.product-shop .total-price .total-money {
    font-size: 12px;
    color: #000;
    font-weight: 700;
}
.product-shop .quantity label {
    font-weight: 700;
    margin-bottom: 10px;
}
.qty-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border: 1px solid #ebebeb;
    max-width: 154px;
    background-color: #fff;
}
.product-shop .qty-group {
    border-color: #eee;
    max-width: 142px;
}
.qty-group .button {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.qty-group .button.minus {
    border-right: 1px solid #cbcbcb;
}
.product-shop .qty-group .button {
    width: 38px;
}
.product-shop .qty-group .button.minus {
    border-right: 1px solid #eee;
	background-color: white;
}
.qty-group .button:after, .qty-group .button:before {
    position: absolute;
    content: "";
    background-color: #7b7b7b;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.qty-group .button:before {
    width: 11px;
    height: 3px;
}
.qty-group .button:after, .qty-group .button:before {
    position: absolute;
    content: "";
    background-color: #7b7b7b;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.qty-group .button:after {
    height: 11px;
    width: 3px;
}
.qty-group .button.minus:after {
    background-color: rgba(255,255,255,0);
}
.qty-group input[name="updates[]"], .qty-group input[name=quantity] {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    border: none;
    text-align: center;
    color: #646464;
    padding: 7px 5px 5px;
    background-color: rgba(255,255,255,0);
}
.product-shop .qty-group input[name=group_quantity], .product-shop .qty-group input[name=quantity] {
    width: 64px;
    color: #2d2d2d;
}
.product-shop .qty-group .button.plus {
    border-left: 1px solid #eee;
	background-color: white;
}
.product-shop .groups-btn {
    clear: both;
}
.ajax-quickview .modal-overlay .halo-modal-content .halo-modal-body .product-shop .groups-btn {
    margin-bottom: 6px;
}
.button {
    border: none;
}
.product-shop .groups-btn .bottom-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.btn, .product-shop .groups-btn .wishlist, .product-shop .shopify-payment-button .shopify-payment-button__button, .tabs__product-page .spr-container .spr-summary-actions-newreview {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 9px 15px 9px;
    border: 1px solid rgba(255,255,255,0);
    min-width: 130px;
    max-width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.product-shop .groups-btn #product-add-to-cart, .product-shop .groups-btn .product-add-to-cart {
    background: #291e88;
    color: #fff;
    border-color: #000;
    padding: 13px 15px 12px;
    line-height: 21px;
    min-width: 350px;
    margin-bottom: 16px;
    font-size: 16px;
    max-height: 48px;
}
.product-shop .groups-btn .wishlist {
    padding: 12px 10px 10px;
    min-height: 48px;
    max-width: 100%;
    min-width: 48px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    color: #000;
    border-color: #000;
}
.product-shop .groups-btn .wishlist svg {
    width: 24px;
    height: 21px;
}
.wishlist .wishlist-text {
    display: inline-block;
    vertical-align: middle;
}
.product-shop .groups-btn .wishlist .wishlist-text {
    position: relative;
    top: 1px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: none;
}
.product-shop #customers_view, .product-shop #customers_view_qv {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 19px;
    margin-bottom: 20px;
}
.product-shop #customers_view .fa, .product-shop #customers_view_qv .fa {
    font-size: 19px;
    color: #141414;
    margin-right: 7px;
    position: relative;
    top: 1.5px;
}
.product-shop #customers_view label, .product-shop #customers_view span, .product-shop #customers_view_qv label, .product-shop #customers_view_qv span {
    color: #323232;
    font-weight: 400;
    margin: 0;
}
.share_toolbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 15px;
}
.share_toolbox>span {
    margin-right: 12px;
    display: none;
}
.at-share-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 2px 5px;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    background-color: transparent;
}