 .page-main{
     padding-top: 62px;
 }
 @media only screen and (max-width: 600px) {
     .page-main{
         padding-top: 0px;
     } 
 }
 @media (min-width: 600px){
    /*.nav-block .logo{*/
    /*    left: 45%;*/
    /*    top: 9px;*/
    /*}*/
}
 @media (min-width: 768px) and (max-width: 992px){
  /*.nav-block {*/
  /*  padding: 0;*/
  /*  margin: 0;*/
  /*  position: fixed!important;*/
  /*  top:40px;*/
  /*  left:0;*/
  /* }*/
   #tablet-carousel{
		padding-top: 0px;
	}
}


@media (min-width: 481px) and (max-width: 767px) {
    /*.nav-block {*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*    position: fixed!important;*/
    /*    top:0px;*/
    /*    left:0;*/
    /*   }*/
}

@media (max-width:801px)  {
   /*.nav-block {*/
   /* padding: 0;*/
   /* margin: 0;*/
   /* position: fixed!important;*/
   /* top:40px;*/
   /* left:0;*/
   /*} */
}

@media (max-width:600px)  { 
   #tablet-carousel{
		padding-top: 56px;
	}
}
@media (min-width: 801px){
    #tablet-carousel{
		padding-top: 0px;
	}
}

@media screen and (max-width: 599px) and (min-width: 300px) {
 .products-grid .product-item-info .product-item-details .product-item-name a {
    font-size: 12px !important;
   }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    
}

@media screen and (max-width: 800px) and (min-width: 701px) {
    
}

@media screen and (max-width: 1024px) and (min-width: 1000px) {
    .nav-block .logo {
        width: 19% !important;
        left: 0% !important;
        top: 19px!important;
    }
    img.logo-tab {
        width: 74px;
        height: 34px;
    }
    img.logo-tab{
       display:block; 
    }
    
}

/*@media screen and (min-width: 768px) and (max-width: 1024px) {*/
/*    .nav-block .logo {*/
/*        width: 19% !important;*/
/*        left: 0% !important;*/
/*        top: 7px!important;*/
/*    }*/
/*    img.logo-tab {*/
/*        width: 74px;*/
/*        height: 34px;*/
/*    }*/
/*    img.logo-tab{*/
/*       display:block; */
/*    }*/
    
/*}*/