/* Order Styles */
/*.mi-order {*/
/*  border: 1px solid #dadada;*/
/*  padding: 15px 20px 5px 20px;*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-pack: justify;*/
/*  -webkit-justify-content: space-between;*/
/*      -ms-flex-pack: justify;*/
/*          justify-content: space-between;*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*      -ms-flex-align: center;*/
/*          align-items: center;*/
/*  -webkit-flex-wrap: wrap;*/
/*      -ms-flex-wrap: wrap;*/
/*          flex-wrap: wrap;*/
/*  margin-top: 20px;*/
/*  -webkit-transition: all 0.3s ease-in-out;*/
/*  -o-transition: all 0.3s ease-in-out;*/
/*  transition: all 0.3s ease-in-out;*/
/*}*/

/*.mi-order-status, .mi-order-id, .mi-order-price, .mi-order-button {*/
/*  -webkit-flex-basis: 0;*/
/*      -ms-flex-preferred-size: 0;*/
/*          flex-basis: 0;*/
/*  -webkit-box-flex: 1;*/
/*  -webkit-flex-grow: 1;*/
/*      -ms-flex-positive: 1;*/
/*          flex-grow: 1;*/
/*  margin-bottom: 10px;*/
/*  margin-right: 30px;*/
/*  white-space: nowrap;*/
/*}*/

/*.mi-order-status b, .mi-order-id b, .mi-order-price b, .mi-order-button b {*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  margin-right: 5px;*/
/*}*/

/*.mi-order-button {*/
/*  margin-bottom: 10px;*/
/*  margin-right: 0;*/
/*  -webkit-box-flex: 0;*/
/*  -webkit-flex-grow: 0;*/
/*      -ms-flex-positive: 0;*/
/*          flex-grow: 0;*/
/*}*/

/*.mi-order-moredetails {*/
/*    display: inline-block;*/
/*    background: transparent;*/
/*    border: 1px solid #8080806b;*/
/*    padding: 0px 15px;*/
/*    height: auto;*/
/*    font-weight: 600;*/
    /* background: #222222; */
/*    color: black;*/
/*    white-space: nowrap;*/
/*}*/

/*.mi-order.is-visible {*/
/*  border-color: #3E4095;*/
/*}*/

/*.mi-orderdetails {*/
/*  margin-top: 30px;*/
/*  border: 1px solid #dadada;*/
/*}*/

/*.mi-orderdetails-id {*/
/*  padding: 10px 20px;*/
/*  background: #F2F2F2;*/
/*  color: #615e58;*/
/*  font-weight: 700;*/
/*  border-bottom: 1px solid #dadada;*/
/*}*/

/*.mi-orderdetails-body {*/
/*  padding: 10px 20px;*/
/*}*/

/*.mi-orderdetails-date, .mi-orderdetails-address {*/
/*  margin-bottom: 0;*/
/*}*/

/*.mi-orderdetails-products {*/
/*  margin-top: 15px;*/
/*}*/

/*.mi-orderdetails-product {*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*      -ms-flex-align: center;*/
/*          align-items: center;*/
/*  -webkit-box-pack: justify;*/
/*  -webkit-justify-content: space-between;*/
/*      -ms-flex-pack: justify;*/
/*          justify-content: space-between;*/
/*  padding: 10px 0;*/
/*}*/

/*.mi-orderdetails-product-image {*/
/*  -webkit-box-flex: 0;*/
/*  -webkit-flex: 0 0 80px;*/
/*      -ms-flex: 0 0 80px;*/
/*          flex: 0 0 80px;*/
/*  max-width: 80px;*/
/*  margin-right: 15px;*/
/*  border: 1px solid #e7e7e7;*/
/*}*/

/*.mi-orderdetails-product-content {*/
/*  -webkit-box-flex: 1;*/
/*  -webkit-flex-grow: 1;*/
/*      -ms-flex-positive: 1;*/
/*          flex-grow: 1;*/
/*}*/

/*.mi-orderdetails-product-title {*/
/*  font-size: 1.2rem;*/
/*  line-height: 1.4rem;*/
/*  font-weight: 700;*/
/*  margin-bottom: 0;*/
/*}*/

/*.mi-orderdetails-product-title a {*/
/*  color: #615e58;*/
/*}*/

/*.mi-orderdetails-product-title a:hover {*/
/*  color: #3E4095;*/
/*}*/

/*.mi-orderdetails-product-price {*/
/*  font-size: 1rem;*/
/*  line-height: 1.2rem;*/
/*  color: #95918a;*/
/*}*/

/*.new-accountblocks {*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-flex-wrap: wrap;*/
/*      -ms-flex-wrap: wrap;*/
/*          flex-wrap: wrap;*/
/*  -webkit-box-pack: justify;*/
/*  -webkit-justify-content: space-between;*/
/*      -ms-flex-pack: justify;*/
/*          justify-content: space-between;*/
/*  margin-top: -30px;*/
/*}*/

/*.new-accountblock {*/
/*  margin-top: 30px;*/
/*  border: 1px solid #dadada;*/
/*  padding: 30px;*/
/*  -webkit-box-flex: 0;*/
/*  -webkit-flex: 0 0 calc(50% - 15px);*/
/*      -ms-flex: 0 0 calc(50% - 15px);*/
/*          flex: 0 0 calc(50% - 15px);*/
/*  max-width: calc(50% - 15px);*/
/*}*/
/*.new-accountblock.fullwidth{*/
/*    -webkit-box-flex: 0;*/
/*    -webkit-flex: 0 0 100%;*/
/*      -ms-flex: 0 0 100%;*/
/*          flex: 0 0 100%;*/
/*    max-width: 100%;*/
/*}*/

/*.new-accountblock > h6 {*/
/*  margin-bottom: 20px;*/
/*  font-weight: 700;*/
/*  text-transform: uppercase;*/
/*  padding-bottom: 10px;*/
/*  border-bottom: 1px solid #dadada;*/
/*}*/

/*.new-accountblock > h6::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/

/*.new-accountblock > h6 a {*/
/*  float: right;*/
/*  text-transform: capitalize;*/
/*  font-weight: 400;*/
/*}*/

/*.new-accountblock p {*/
/*  margin-bottom: 0;*/
/*}*/

/*.new-accountblock .new-editbutton {*/
/*  text-align: right;*/
/*  margin-top: 10px;*/
/*}*/

/*.new-accountblock .new-editbutton a {*/
/*  color: #F79633;*/
/*  -webkit-transition: all 0.3s ease-in-out;*/
/*  -o-transition: all 0.3s ease-in-out;*/
/*  transition: all 0.3s ease-in-out;*/
/*}*/

/*.new-accountblock .new-editbutton a:hover {*/
/*  color: #3E4095;*/
/*}*/

/*.form-field .birthday,*/
/*.form-field-half .birthday {*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  margin-left: -30px;*/
/*}*/

/*.form-field .birthday input,*/
/*.form-field-half .birthday input {*/
/*  margin-left: 30px;*/
/*}*/

/*.form-field .birthday input[type=number]::-webkit-inner-spin-button,*/
/*.form-field .birthday input[type=number]::-webkit-outer-spin-button,*/
/*.form-field-half .birthday input[type=number]::-webkit-inner-spin-button,*/
/*.form-field-half .birthday input[type=number]::-webkit-outer-spin-button {*/
/*  -webkit-appearance: none;*/
/*  margin: 0;*/
/*}*/
/**
 * Title
 */
.mi-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
  position: relative;
  margin-bottom: 7px;
  padding-left: 0px;
}

.mi-title.without-icon{
    padding-left: 0;
}

.mi-title::after {
  content: "";
  clear: both;
  display: table;
}

.mi-title::before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100px;
  background: #291d88;
  top: auto;
  bottom: -1px;
}

.mi-title h5 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.mi-title-icon {
  display: inline-block;
  margin-right: 12px;
  color: #F79633;
  font-size: 22px;
    position: absolute;
    left: 0;
    top: 0;
}

.mi-title-icon svg{
    fill: #333333;
    height: auto;
    width: 24px;
    vertical-align: baseline;
}

.mi-title-icon svg *{
    fill: #333333;
}

.mi-title .mi-button {
  float: right;
}
/*b, strong {*/
/*    font-weight: bold;*/
    /*font-weight: 500;*/
    /*font-size: 16px;*/
/*}*/
/*button{*/
/*    width: auto;*/
/*}*/
/*@media (min-width: 1000px){*/
/*button {*/
/*    height: 40px;*/
/*    font-size: 12px;*/
/*    line-height: 31px;*/
/* }*/
/*}*/
/*button:hover {*/
  /*background-color: #291d88; */
/*  color: white;*/
/*}*/
.order-error {
    width: 100%;
    height: 675px;
    background-color: #f4f4f4;
    text-align: center;
}
.order-error-icon {
    display: inline-block;
    width: 75px;
    margin-top: 237px;
    margin-bottom: 37px;
}
.order-error-tips {
    font-size: 18px;
    color: #757575;
    margin: 10px 20px;
}
.order-error-btn {
    font-size: 14px;
    color: #1a9cb7;
    font-weight: 500;
    margin-top: 40px;
    cursor: pointer;
}
.order-error-code {
    font-size: 14px;
    color: #f4f4f4;
}

.badge {
    margin-left: 0;
}
.line {
    margin-bottom: 5px;
}
.text-tag-alert {
    padding: 10px 15px;
    max-width: 240px;
}
.text-tag-alert .tag-alert-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}
.text-tag-alert .tag-alert-message {
    font-weight: 400;
    font-size: 12px;
    color: #333;
}
.order-item {
    min-height: 80px;
    margin: 24px 12px 24px 36px;
    padding-right: 12px;
    width: 916px;
}
.order-item .item-pic {
    float: left;
}
.order-item .item-pic img {
    width: 80px;
    height: 100px;
}
.order-item .iconTag {
    height: 14px;
    margin-right: 4px;
}
.order-item .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.order-item .item-main {
    float: left;
    width: 360px;
    margin-left: 12px;
    margin-right: 24px;
}
.order-item .item-main-mini {
    width: 280px;
}
.order-item .item-quantity {
    font-size: 14px;
    float: left;
    width: 64px;
    min-height: 80px;
    text-align: left;
}
.order-item .item-quantity .multiply {
    font-size: 14px;
}
.order-item .item-status {
    float: left;
    min-height: 80px;
    text-align: left;
}
.order-item .item-capsule {
    width: 204px;
    text-align: center;
}
.order-item .item-capsule .capsule {
    margin-top: -4px;
}
.order-item .item-price {
    margin-bottom: 4px;
    width: 180px;
}
.order-item .item-through-price {
    text-decoration: line-through;
}
.order-item .item-info {
    float: right;
    min-height: 80px;
    text-align: right;
    max-width: 204px;
}
.order-item.order-bundle-items {
    margin: 24px 12px;
}
.order-item .more-details {
    margin-top: 7px;
}
.order-item .details-desc {
    height: 17px;
    line-height: 17px;
    display: inline-block;
}
.order-item .item-info-link {
    margin-top: 8px;
    display: block;
}
.order-item .item-info-link:first-child {
    margin-top: 0;
}
.order-item .reverse-info {
    margin-top: 4px;
}
.order-item .reverse-info .tail {
    margin-left: 8px;
    font-size: 12px;
}
.order-item .text-tag {
    text-align: right;
    line-height: 17px;
    font-family: Helvetica;
    font-size: 14px;
    color: #9e9e9e;
}
.order-item .presale-tag {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height: 14px;
    font-size: 9px;
    line-height: 14px;
    padding: 0 2px;
}
.liveUpOrder {
    padding: 24px;
}

.dispute-iframe-dialog {
    width: 788px;
    border: 0;
}
.dispute-iframe-dialog .next-dialog-body {
    padding: 0;
}
.dispute-iframe-dialog .next-dialog-close {
    right: 24px;
}
.dispute-iframe-dialog iframe {
    width: 100%;
    height: 490px;
    border: 0;
}
.dispute-iframe-dialog .dispute-apply-iframe {
    height: 600px;
}
.confirm-dialog-content {
    margin-bottom: 20px;
}
.confirm-dialog .disabled-btn {
    background: #e5e5e5 !important;
}
.package-operations {
    padding: 12px;
}
.package-operations .operation-item {
    color: #1a9cb7;
}
.package-operations .operation-item-icon {
    padding-right: 5px;
}
.package-operations .operation-item-block {
    display: block;
}
.package-operations .operation-item-block:not(:last-child) {
    margin-bottom: 5px;
}
.order-bundle {
    margin: 12px 24px;
    border: 1px solid #dadada;
    min-width: 900px;
}
.order-bundle .reverse {
    padding: 12px 12px 0;
}
.lazada-ic-Tooltip:before {
    content: "\e719";
}
.order {
    margin-top: 12px;
    padding-bottom: 24px;
    background-color: rgb(0 0 0 / 4%);
}
.pre_sale {
    background-color: #fffae7;
}
.order-info {
    padding: 8px 12px;
    min-height: 50px;
    border-bottom: 1px solid #dadada;
    display: -webkit-box;
    display: flex;
}
.order-info .info-order-left-text {
    margin-bottom: 4px;
}
.order-info .link {
    color: #3b3092;
    font-weight: 600;
    letter-spacing: 1px;
}
.order-info .manage {
    line-height: 32px;
}
.order-info .pull-left,
.order-info .pull-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.order-info .pull-cont {
    -webkit-box-flex: 1;
    flex: 1;
    margin: 0 30px;
    text-align: right;
}
.order-info .group-buy,
.order-info .tips {
    padding: 5px;
}
.order-info .group-buy {
    display: inline-block;
    border-radius: 3px;
    background-color: #d7f5e9;
}
.order-info .banner-icon {
    margin-right: 5px;
    width: 10px;
    height: 10px;
}
.order-info .ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.order-info .banner-text {
    line-height: 18px;
    white-space: pre-wrap;
    word-break: break-all;
    color: #4eae75;
}
.order-info .action-btn {
    background-image: -webkit-gradient(linear, left top, right top, from(#936bff), to(#6826ff));
    background-image: linear-gradient(90deg, #936bff, #6826ff);
    border-radius: 2px;
    padding: 6px 9px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}
.order-info .action-btn-disable {
    background: #d0d0d0;
}
.vision-switch {
    padding-bottom: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.vision-switch-text {
    display: inline-block;
    padding-right: 14px;
}
.order-list {
    width: 988px;
}
.order-list .order-list-title {
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 16px;
}
.order-list .order-filter {
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    margin-bottom: 12px;
    padding: 0 13px;
}
.order-list .order-filter .filter {
    width: 180px;
    height: 40px;
    vertical-align: middle;
    margin-left: 8px;
}
.order-list .order-filter .next-select-inner {
    line-height: 40px;
}
.order-list .package-notice {
    display: -webkit-box;
    display: flex;
    float: right;
}
.order-list .package-notice-icon {
    color: #757575;
    font-size: 24px;
}
.order-list .package-notice-text {
    color: #16939f;
    font-weight: 500;
    padding-left: 9px;
}
.order-list .order-pagination {
    margin-top: 20px;
    text-align: right;
}
.order-list .next-pagination-item {
    background-color: transparent;
    color: #212121;
}
.order-list .next-pagination-item.current {
    background-color: #1a9cb7 !important;
    color: #fff;
}
.order-list .next-pagination-item:hover {
    border-color: #1a9cb7 !important;
}
.order-list .order-list-tabs {
    height: 28px;
    border-bottom: 2px solid #979797;
    margin-bottom: 13px;
}
.order-list .order-list-tabs .order-tab-item {
    display: inline-block;
    font-size: 13px;
    height: 29px;
    line-height: 29px;
    color: #5d5d5d;
    padding: 0 20px;
}
.order-list .order-list-tabs .order-tab-item-active,
.order-list .order-list-tabs .order-tab-item:hover {
    border-bottom: 4px solid #003e52;
}
.order-no-data {
    height: 239px;
    width: 100%;
    padding-top: 80px;
    text-align: center;
}
.order-no-data-text {
    font-size: 14px;
    color: #757575;
    margin-bottom: 27px;
}
.order-no-data-btn {
    border: 1px solid #f57224;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
}
.order-no-data-btn-text {
    color: #f57224;
}
.order-package {
    width: 988px;
}
.order-package-title {
    background-color: #fff;
    min-height: 50px;
    vertical-align: middle;
    margin-bottom: 2px;
    line-height: 50px;
    padding-left: 20px;
}
.order-package-title-number {
    color: #16939f;
}
.order-package-body {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    background-color: #fff;
    min-height: 120px;
    padding: 20px 0 20px 36px;
    margin-bottom: 14px;
}
.order-package-body .order-package-img-container {
    position: relative;
}
.order-package-img {
    width: 80px;
    height: 80px;
    margin-right: 8px;
}
.order-package-img-cover {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.order-package-img-cover-text {
    color: #fff;
}
.order-package-status {
    width: 350px;
}
.order-package-status-name {
    color: #16939f;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}
.order-package-status-desc {
    color: #212121;
}
.order-package-status-desc-bold {
    font-weight: 700;
}
.order-package-status-3pl {
    color: #757575;
    font-size: 12px;
    margin-top: 4px;
}
.order-package-leadtime {
    color: #4caf50;
    margin: 0 30px;
    font-weight: 500;
    align-self: center;
}
.order-package-action {
    position: absolute;
    right: 36px;
    align-self: center;
}
.order-package-action-button {
    color: #16939f;
}
.order-package-action-button:not(:last-child) {
    margin-bottom: 8px;
}
.recent-orders {
    width: 988px;
}
.recent-orders .recent-item {
    float: left;
    margin-right: 4px;
}
.recent-orders .recent-item img {
    width: 40px;
    height: 40px;
}
.recent-orders .recent-more {
    line-height: 40px;
}
.recent-orders .manage-order {
    color: #1a9cb7;
    cursor: pointer;
}
.reverse-info {
    padding: 8px 12px;
    height: 50px;
    border-bottom: 1px solid #dadada;
    background-color: #fff;
}
.reverse-info .reverse-info-left {
    overflow: hidden;
}
.reverse-info .info-createdAt {
    margin-bottom: 4px;
}
.reverse-info .info-number {
    height: 16px;
    line-height: 16px;
}
.reverse-info .info-right {
    height: 36px;
    line-height: 36px;
}
.reverse-info p {
    height: 15px;
}
.reverse-info .link {
    color: #1a9cb7;
}
.reverse-info .title-return-to {
    margin-left: 80px;
}
