.menu-image{
    width:75%;
    border:1px solid #eee;
}
#nav .menu>ul>li>ul>li>a {
    height: 30px;
}
body {
    font-family: 'Open Sans Condensed', sans-serif !important;
}
#header{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
#nav .menu>ul>li>ul{
    font-family: 'Open Sans Condensed', sans-serif;
}
.page-footer .footer-links strong{
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 700;
}
h1, h2, h3 {
        font-family: 'Open Sans Condensed', sans-serif !important;
}
.product-shop .detailed .title{
    font-family: 'Open Sans Condensed', sans-serif !important;
}
.upsell .block-title strong{
    font: 600 13px/15px 'Open Sans Condensed', sans-serif !important;
}
.nav-block .logo {
    top: 18px;
}
@media (max-width: 999px){
    .nav-block .logo {
        left: 39%;
        margin: 0 0 0 0;
    }
}
.products-grid .product-item-info .product-item-details .product-item-name a{
    font-size:15px !important;
    }
    .myaccount-wrapper{
    position: absolute;
    right: 39px;
    top: 0;
    padding: 22px 20px 0;
    }
    
    .wishlist-wrapper{
    	position: absolute;
        right: 75px;
        top: 0;
        padding: 22px 20px 0;
    }
    .wish-list{
    	width:21px;
    }
    .user-icon{
    	width:21px;
    }
    span.cart_number {
        position: absolute;
        top: -5px;
        right: -7px;
        width: 15px;
        height: 14px;
        line-height: 14px;
        font-size: 11px;
        color: black;
        border-radius: 100%;
        text-align: right;
    }
    .minicart-wrapper a.action:after {
            font-size: 19px;
        }
        .minicart-wrapper a.action:after {
        top: -5px;
    }
    .minicart-wrapper a.action:after {
        position: absolute;
        right: 5px;
        top: -5px;
        color: black;
        content: "\f290";
        font-family: FontAwesome;
        font-size: 20px;
    }
    .form-control{
      font-size:14px !important;  
    }
@media only screen and (max-width: 600px) {
.nav-block .logo{
        top:9px;
    }
 .products-grid .product-item-info .product-item-details .product-item-name a{
    font-size:13px;
    overflow:hidden;
    line-height:1;
    }
    .price-box{
        margin:9px 0 22px;
    }
    .panel-block-row.trending .items.row .slick-arrow{
        width: 30px;
        height: 30px;
    }
  .menu-image{
    width:35%;
    border:1px solid #eee;
  }
  .form-control{
      font-size:12px !important;  
    }
}
.minicart-wrapper a.action:after{
    content: none !important;
}
.minicart-wrapper a.action.viewcart {
    text-transform: none;
    color: black;
    background: none;
    line-height: 38px;
    letter-spacing: 1px;
    padding: 14px !important; }
.minicart-wrapper a.action.viewcart:hover {
    background: none; 
    
}
.product-items .product-item-details .product-item-name{
    font-family: 'Open Sans Condensed', sans-serif !important;
}
.product-items .product-item-details .price-box{
    font-family: 'Open Sans Condensed', sans-serif !important;
}
.sidebar .filter-holder ul li .m-filter-item-list{
    font: 14px/15px 'Open Sans Condensed', sans-serif !important;
    /*font: 'Open Sans Condensed', sans-serif !important;*/
    text-align: left;
}
.list-inline{
    text-align: left;
}