header .header-image {
    padding: 1rem 0;
}
header .retailer-logo {
    text-align: center;
    display: block;
}
header .lang-menu {
    width: 100%;
    text-align: left;
}
header .lang-menu .flag {
    margin-top: 2px;
    margin-right: 0.3rem;
    vertical-align: top;
}
header .lang-menu .dropdown-toggle {
    color: #767676;
    text-decoration: none;
    font-size: 0.875rem;
    border: none;
    padding: 0;
}
header .lang-menu .dropdown-toggle:after {
    vertical-align: middle;
    margin-right: 0.3rem;
}
header .lang-menu .dropdown-toggle:hover {
    text-decoration: underline;
}
header .lang-menu .dropdown-menu {
    font-size: 0.85rem;
    min-height: 2rem;
    overflow: auto;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
}
header .lang-menu .dropdown-menu .dropdown-item {
    padding: 0.2rem 0.6rem;
    text-decoration: none;
}
@media (max-width: 767.98px) {
    header .lang-menu {
        text-align: center;
        margin-bottom: 0.7rem;
    }
    header .lang-menu .dropdown-menu {
        width: 50%;
        left: 25%;
    }
}
header .need-help {
    width: 100%;
    text-align: right;
}
header .need-help .link {
    color: #767676;
    font-size: 0.875rem;
}
header .need-help .link img {
    height: 18px;
    width: 18px;
    margin-right: 0.3rem;
    vertical-align: text-bottom;
}
header .need-help .link:hover {
    text-decoration: underline;
}
@media (max-width: 767.98px) {
    header .need-help {
        text-align: center;
        margin-bottom: 0.7rem;
    }
}
footer {
    background-color: #efefef;
}
footer .footer-body {
    min-height: 50px;
    padding: 1rem 0;
}
footer .footer-retailer-logo button {
    color: #545454;
    text-decoration: underline;
}
footer .footer-retailer-logo button img {
    max-width: 100px !important;
    max-height: 45px !important;
}
footer .footer-information {
    font-size: 0.7rem;
    text-align: center;
}
footer .footer-information a {
    color: #686868;
    text-decoration: underline;
    cursor: pointer;
}
footer .footer-information img {
    max-width: 100px !important;
    max-height: 45px !important;
    margin-bottom: 10px;
}