.sidebar {
        padding: 0 20px 9999px 0;
        font-size: 13px;
        margin: 0 0 -9999px;
        border-right: 1px solid #eee;
    }
    .osh-msg-box.-success {
        border-color: #B0DA7C;
        color: #B0DA7C;
    }
    .osh-msg-box.-danger {
        border-color: red;
        color: red;
    }
    .osh-msg-box {
        border-width: 1px;
        border-style: solid;
        padding: 2px 5px;
        margin: 10px 0;
    }

.block-dashboard-info .block-content .box-actions a {
    padding: 0 0 1px;
    margin: 0 5px 0 0;
    border-bottom: 1px solid black;
}
.sidebar {
        padding: 0 20px 9999px 0;
        font-size: 12px;
        margin: 0 0 -9999px;
        border-right: 1px solid #eee;
    }
	.block-dashboard-info .block-content .box-actions a {
    padding: 0 0 1px;
    margin: 0 5px 0 0;
    border-bottom: 1px solid black;
   }
    .ui-borderBottom {
        border-bottom: 1px solid #4b4b4b99!important;
    }
    .pas, .pbs, .pvs {
        padding-bottom: 5px!important;
    }
    .box-bdr, .ui-blueBtn {
        border: 1px solid;
    }
    .box {
        position: relative;
        display: block;
        box-sizing: border-box;
    }
    .box-bdr {
        border-color: #D3D3D3;
        border-radius: 0;
    }
    .mas, .mhs, .mrs {
        margin-right: 5px!important;
    }
    .pam, .phm, .plm {
        padding-left: 10px!important;
    }
    .pam, .pbm, .pvm {
        padding-bottom: 10px!important;
    }
    .myaccountBox1 {
        min-height: 140px;
    }
    .fsml {
        font-size: 14px;
    }
    .pam, .phm, .plm {
        padding-left: 10px!important;
    }
    .mas, .mhs, .mrs {
        margin-right: 5px!important;
    }
    .pam, .phm, .prm {
        padding-right: 10px!important;
    }
    .myaccountBox1 {
        min-height: 140px;
    }
    .myaccountBox1 {
        min-height: 209px;
    }
    .myaccountBox1>a {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    .i-edit {
        background: url(storage/app/public/edit.png) no-repeat;
    }
    .i-attention, .i-checked, .i-edit, .i-favorite, .i-information, .i-remove {
        padding-left: 20px;
        cursor: pointer;
    }
    .myaccountBox1 p:first-of-type, .myaccountBox2 .address p, .sel-address-additional .address p, .sel-address-billing .address p, .sel-address-shipping .address p {
        white-space: nowrap;
        overflow: hidden!important;
        text-overflow: ellipsis;
    }
    .rfloat, .thm-spinbasket .l-hasSidebar .l-main, .thm-spinbasket.l-hasSidebar .l-main {
        float: right;
    }
    .l-row {
        display: table;
    }
    .myaccountBox2 {
        min-height: 180px;
    }
    .mam, .mtm, .mvm {
        margin-top: 10px!important;
    }
    .strong {
        font-weight: 700;
    }
    p{
        margin: 0 0 10px;
    }


    #form-account-edit .size1of2 {
        width: 100%;
    }
    .ui-fieldset, .ui-formRow {
        position: relative;
    }
    .ui-formRow {
        margin-bottom: .8em;
    }
    .mam, .mtm, .mvm {
        margin-top: 10px!important;
    }
    .ui-formRow, .ui-formRow .col2 {
        overflow: hidden;
    }
    #form-account-edit .size1of2 .ui-formRow .col1 {
        width: 22%;
    }
    .ui-formRow .col1 {
        float: left;
    }
    .txtRight {
        text-align: right;
    }
    #form-account-edit .size1of2 .ui-formRow .col2 {
        float: left;
        width: 58%;
        margin-left: 5%;
    }
    .mas, .mts, .mvs {
        margin-top: 5px!important;
    }
    .card-desktop img, label {
        max-width: 100%;
    }
    input {
        padding: 4px;
        font-size: 13px;
        font-size: 1.3rem;
        background-color: #FFF;
        border: 1px solid #ccc;
    }
    input, select, textarea {
        box-sizing: border-box;
        outline: 0;
    }
    .lfloat {
        float: left;
    }
    .fsxs {
        font-size: 10px;
    }
    .accountEditErrorBirthMonth, .accountEditLabelBirthDay, .accountEditLabelBirthMonth, .wishlistEditErrorBirthDay, .wishlistEditErrorBirthMonth, .wishlistEditLabelBirthDay, .wishlistEditLabelBirthMonth {
        width: 82px;
    }
    .accountEditErrorBirthMonth, .accountEditLabelBirthDay, .accountEditLabelBirthMonth, .wishlistEditErrorBirthDay, .wishlistEditErrorBirthMonth, .wishlistEditLabelBirthDay, .wishlistEditLabelBirthMonth {
        width: 82px;
    }
    .accountEditBirthDay, .accountEditBirthMonth, .accountEditBirthYear, .wishlistEditBirthDay, .wishlistEditBirthMonth {
        width: 78px;
    }
    .accountEditErrorBirthYear, .accountEditLabelBirthYear {
        width: 76px;
    }
    .accountEditErrorBirthYear, .accountEditLabelBirthYear {
        width: 76px;
    }
    .accountEditErrorBirthYear, .accountEditLabelBirthYear {
        width: 76px;
    }
    *, .my-orders-list ul li.order-detail-container, .my-orders-list ul li.order-detail-container *, .my-orders-list ul li.order-detail-header, :after, :before {
        box-sizing: border-box;
    }
    main.osh-container label {
        display: block;
    }
    .box-bd, .box-ft, .box-hd {
        padding: 10px 10px 10px 0;
        box-sizing: border-box;
    }
    #content, .box, .box-bd, .box-ft, .box-hd, .clearfix, .l-pageWrapper {
        zoom: 1;
    }
    .has-error input{
        border-color: #883333;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .help-block{
        color:#833;
    }
    .osh-msg-box.-success {
        border-color: #28a745;
        color: #28a745;
    }
    .osh-msg-box {
        border-width: 1px;
        border-style: solid;
        padding: 2px 5px;
        margin: 10px 0;
    }
    .block-account .block-content li:before {
        content: "";
        font-family: FontAwesome;
        font-size: 10px;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        line-height: 23px;
        color: #333;
    }
    .left-aside{
        background-color: #f3f3f385;
        border: 1px solid #00000017;
        padding: 26px;
    }
    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 11px;
        margin-bottom: 10px;
    }
    .page-title h1, .page-title h2 {
        color: #000;
        font-size: 18px;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    .form-control {
        border-radius: 0;
        border: none;
        border: 1px solid #00000042;
        color: black;
        background-color: white;
        outline: none!important;
        box-shadow: none!important;
        /* font-family: Oswald, sans-serif; */
    }
    .btn-default {
        font-weight: 400;
        font-size: 13px;
        padding: .3125em 3.375em;
        color: #111;
        border-width: 1px;
        border-color: currentColor;
        text-transform: uppercase;
    }