
/* NOTE: contaner with main image and selector's container */
div.MagicToolboxContainer {
    text-align: center;
}
div.MagicToolboxContainer.minWidth {
    min-width: 250px;
}

/* NOTE: main image styles */
div.MagicToolboxContainer > a {
    margin: 0 auto;
}

/* NOTE: container with selectors */
div.MagicToolboxSelectorsContainer {
    clear: both;
}

/* NOTE: selectors styles */
div.MagicToolboxSelectorsContainer a {
    display: inline-block;
    margin: 4px;
}

/* NOTE: contaner with message under Magic Zoom Plus */
div.MagicToolboxMessage {
    text-align: center;
}

/* NOTE: styles for templates */
div.MagicToolboxMainContainer {
    max-width: 100%;
}
div.MagicToolboxSelectorsContainer img {
    max-width: 100%;
}

/* NOTE: selectors on the bottom */
div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer {
    padding-top: 5px;
}

/* NOTE: selectors on the top */
div.MagicToolboxContainer.selectorsTop .MagicToolboxSelectorsContainer {
    padding-bottom: 5px;
}




/* NOTE: to highlight magic360 selector (magiczoom(plus) + magic360) */
.zoom-with-360.mz-thumb-selected img {
    -webkit-filter: none;
    filter: none;
}
.zoom-with-360.mz-thumb:hover:not(.active-selector) img,
.zoom-with-360.m360-selector:hover:not(.active-selector) img {
    -webkit-filter: brightness(70%) !important;
    filter: brightness(70%) !important;
}
.zoom-with-360.active-selector img {
    -webkit-filter: brightness(50%) !important;
    filter: brightness(50%) !important;
}
/* NOTE: IE fix */
.no-cssfilters-magic .zoom-with-360.mz-thumb-selected img {
    opacity: 1;
    filter: alpha(opacity=100);
}
/*.no-cssfilters-magic .zoom-with-360.mz-thumb,*/
.no-cssfilters-magic .zoom-with-360.m360-selector {
    background: #000;
}
/*.no-cssfilters-magic .zoom-with-360.mz-thumb:hover:not(.active-selector) img,*/
.no-cssfilters-magic .zoom-with-360.m360-selector:hover:not(.active-selector) img {
    opacity: .7;
    filter: alpha(opacity=70);
}
.no-cssfilters-magic .zoom-with-360.active-selector img {
    opacity: .5;
    filter: alpha(opacity=50);
}
/*.mz-thumb, .mz-thumb:focus,*/
.zoom-with-360.m360-selector, .zoom-with-360.m360-selector:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}
/* NOTE: border for magic360 selector */
.zoom-with-360.m360-selector img {
    border: 0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.ie9-magic .zoom-with-360.m360-selector {
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

/* NOTE: magicscroll makes the image smaller if there is a margin */
/*
.MagicScrollItem a {
    margin: 0 !important;
}
*/


div.MagicToolboxContainer.selectorsLeft,
div.MagicToolboxContainer.selectorsRight {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    min-height: 300px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    flex-grow: 1;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    font-size:0px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer a,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer a {
    margin:0 0 10px 0;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer {

}
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer {
    width: auto;
    padding-left: 10px;
}
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    width: auto;
    padding-right: 10px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
    height: 100%;
    flex:1;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll a,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll a {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    div.MagicToolboxContainer.selectorsLeft,
    div.MagicToolboxContainer.selectorsRight {
        flex-direction: column;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
        order:2;
        width: 100% !important;
        margin-bottom:10px;
        min-height: 0px;
        flex:auto;
        flex-basis: auto !important;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer a,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer a {
        margin:10px 5px;
    }

    div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
        order:1;
        padding:0px;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer:after,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer:after {
        content: none;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
        height: auto;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
        margin: 10px 0 0 0;
    }
}

div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer a {
    display: inline-block;
    vertical-align: middle;
}
div.MagicToolboxContainer.selectorsTop .MagicToolboxSelectorsContainer a {
    display: inline-block;
    vertical-align: middle;
}

div.MagicToolboxContainer.placeholder {
    height: 100%;
    width: 100%;
}
div.MagicToolboxContainer.placeholder span.align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
div.MagicToolboxContainer.placeholder img {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.mt-thumb-switcher.mz-thumb-selected img {
    -webkit-filter: none;
    filter: none;
}
.mt-thumb-switcher.mz-thumb:hover:not(.active-selector) img,
.mt-thumb-switcher.m360-selector:hover:not(.active-selector) img,
.mt-thumb-switcher.video-selector:hover:not(.active-selector) img {
    -webkit-filter: brightness(70%) !important;
    filter: brightness(70%) !important;
}
.mt-thumb-switcher.active-selector img {
    -webkit-filter: brightness(50%) !important;
    filter: brightness(50%) !important;
}
/* NOTE: IE fix */
.no-cssfilters-magic .mt-thumb-switcher.mz-thumb-selected img {
    opacity: 1;
    filter: alpha(opacity=100);
}
.no-cssfilters-magic .mt-thumb-switcher.m360-selector,
.no-cssfilters-magic .mt-thumb-switcher.video-selector {
    background: #000;
}
.no-cssfilters-magic .mt-thumb-switcher.m360-selector:hover:not(.active-selector) img,
.no-cssfilters-magic .mt-thumb-switcher.video-selector:hover:not(.active-selector) img {
    opacity: .7;
    filter: alpha(opacity=70);
}
.no-cssfilters-magic .mt-thumb-switcher.active-selector img {
    opacity: .5;
    filter: alpha(opacity=50);
}
.mt-thumb-switcher.m360-selector,
.mt-thumb-switcher.m360-selector:focus,
.mt-thumb-switcher.video-selector,
.mt-thumb-switcher.video-selector:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}
/* NOTE: borders for 360 and video selectors */
.mt-thumb-switcher.m360-selector img,
.mt-thumb-switcher.video-selector img {
    border: 0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.ie9-magic .mt-thumb-switcher.m360-selector,
.ie9-magic .mt-thumb-switcher.video-selector {
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

.products-list .product-items .MagicToolboxContainer {
    padding: 0 30px 30px 0;
    display: table-cell;
}

/* NOTE: styles for responsive video container */
#mtVideoContainer {
    width: auto !important;
    height: auto !important;
}
#mtVideoContainer > div {
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
}
#mtVideoContainer > div iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}